<h4>Ingreso datos Equipo</h4>
<div *ngIf="showView">
<form autocomplete="off"  [formGroup]="consultaForm"  (ngSubmit)="onSubmit();postDatos();">

    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre provedor</label>
            <div class="col">
                <select class="form-control" 
                        formControlName="id_pro"
                        [class.is-invalid]="idPronovalido"
                        [(ngModel)]="consultas.id_pro">
                    <option *ngFor="let prove of provedores"
                            [value]="prove.id_pro">{{prove.nombre_pro}}</option>
                </select>

                <small *ngIf="idPronovalido" class="text text-danger">
                    Ingrese marca valido
                </small> 

            </div>
        </div>


    </div>




    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Marca</label>
            <div class="col">
                <select class="form-control" 
                        formControlName="id_ma"
                        [class.is-invalid]="marcaNovalido"
                        [(ngModel)]="consultas.id_ma">
                    <option *ngFor="let marca of marcas"
                            [value]="marca.id_ma">{{marca.nombre_ma}}</option>
                </select>

                <small *ngIf="marcaNovalido" class="text text-danger">
                    Ingrese marca valido
                </small> 

            </div>
        </div>


    </div>

    <!---->

    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">equipo</label>
            <div class="col">
                <select class="form-control"
                        formControlName="id_equi"
                        [class.is-invalid]="equipoNovalido"
                        [(ngModel)]="consultas.id_equi">
                  <option *ngFor="let equi of equipos"
                          [value]="equi.id_equi">{{equi.nombre_equi}}</option>
              </select>

              <small *ngIf="equipoNovalido" class="text text-danger">
                Ingrese equipo valido
            </small> 

            </div>
        </div>




    </div>

    <!---->

    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Ubicacion</label>
            <div class="col">
                <select class="form-control" 
                        formControlName="id_ubi"
                        [class.is-invalid]="ubicacionNovalido"
                        [(ngModel)]="consultas.id_ubi">
                  <option *ngFor="let ubi of ubicaciones"
                          [value]="ubi.id_ubi">{{ubi.nombre_ubi}}</option>
                </select>
                <small *ngIf="ubicacionNovalido" class="text text-danger">
                    Ingrese ubicacion valido
                </small> 


            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Ciudad</label>
            <div class="col">
                <select class="form-control" 
                        formControlName="id_ciu"
                        [class.is-invalid]="ciudadNovalido"
                        [(ngModel)]="consultas.id_ciu">
                  <option *ngFor="let ciu of ciudades"
                          [value]="ciu.id_ciu">{{ciu.nombre_ciu}}</option>
                </select>
                <small *ngIf="ciudadNovalido" class="text text-danger">
                    Ingrese ciudad valida
                </small> 


            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Sede</label>
            <div class="col">
                <select class="form-control" 
                        formControlName="id_sede"
                        [class.is-invalid]="sedeNovalido"
                        [(ngModel)]="consultas.id_sede">
                  <option *ngFor="let se of sedes"
                          [value]="se.id_sede">{{se.nombre_sede}}</option>
                </select>
                <small *ngIf="ciudadNovalido" class="text text-danger">
                    Ingrese sede valida
                </small> 


            </div>
        </div>



    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">modelo</label>
        <div class="col">
            <input type="text"
                    class="form-control"
                    formControlName="modelo_con"
                    [class.is-invalid]="modeloNovalido"
                    [(ngModel)]="consultas.modelo_con"
                   >
            <small *ngIf="modeloNovalido" class="text text-danger">
            Ingrese Modelo valido
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">serial</label>
        <div class="col">
            <input type="text"
                    class="form-control"
                    formControlName="serial_con"
                    [class.is-invalid]="serialNovalido"
                    [(ngModel)]="consultas.serial_con">
            <small *ngIf="serialNovalido" class="text text-danger">
                Ingrese serial valido
            </small>
    </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Placa</label>
        <div class="col">
            <input type="text"
                    class="form-control"
                    [(ngModel)]="consultas.placa_con"
                    formControlName="placa_con"
                    [class.is-invalid]="placaNovalido">
            <small *ngIf="placaNovalido" class="text text-danger">
                Ingrese placa valido
            </small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Tiene man</label>
        <div class="col">
           
            <select class="form-control"
            formControlName="mantenimiento_con"
            [class.is-invalid]="tinno"
            [(ngModel)]="consultas.mantenimiento_con"
            >
           
        <option value="si">si</option>
        <option value="no">no</option>
    </select>
    <small *ngIf="tinno" class="text text-danger">
        Ingrese mantenimiento valido
    </small>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
          <button 
                  type="submit" 
                  class="btn btn-primary"
                
                 >
            Guardar
          </button>
        </div>
    </div>

</form>

</div>