<h3>Listado Provedores</h3>

<table class="table table-bordered table-striped">
<thead>
    <tr class="filters">
        <th>Nombre</th>
        <th>Nit</th>
    </tr>
</thead>    
    <tbody>
    <tr *ngFor="let provedor of provedores  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{provedor.nombre_pro}}</td>
        <td>{{provedor.nit_pro}}</td>
    </tr>
    </tbody>

    
<ngb-pagination [collectionSize]="provedores.length" 
[(page)]="page"
></ngb-pagination>

</table>