<ion-content class="ion-no-padding">
    
    <ion-header class="ion-no-border ion-no-padding">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12">
        <ion-toolbar color="transparent">
            <ion-buttons (click)="cerrarModal()" slot="start">
                <ion-button>
                    <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Tu pedido</ion-title>
        </ion-toolbar>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-header>

    <div style="height: 100%; margin-top: -15px; margin-bottom: 40px; ">
        <!-- Dirección de entrega  -->
        <ion-card color="light" class="ion-text-left" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 8px;">
            <ion-grid >
                <ion-row>
                    <ion-col size="12">
            <h6 class="ion-padding-start">Dirección de entrega</h6>
            <ion-item lines="none" details="false" *ngFor="let d of direccion" style="margin-top: -12px;">
                <ion-text color="dark" style="font-size: 0.8em">
                    {{ d.direccion }}<br>
                    <span *ngIf="d.detalles != '-' ">{{ d.detalles }}</span>
                </ion-text>
                <ion-button (click)="verDireccion( d.direccion )" slot="end" fill="outline" color="medium" size="small" style="font-family: roboto_regular; font-weight: bolder;">
                    Cambiar
                </ion-button>
            </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
                
        </ion-card>

        <!-- Informacion de la tienda, productos comprados y metodo de pago -->
        <ion-card *ngFor="let tienda of infotendero" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 8px;">
            <div   class="ion-no-padding"  style="border-bottom: 1px solid var(--ion-color-secondary);" (click)="verTienda( tienda.codigo )">
                <ion-grid class="ion-no-padding">
                    <ion-row class="ion-padding">
                        <ion-col class="ion-no-padding" size="3">
                            <div>
                                <img src="{{ cdn_site }}tiendas/{{ tienda.foto_sm }}" style="margin-left: 10px; width: 50px; height: 50px;  border: 1px solid var(--ion-color-secondary); border-radius: 100%;"  *ngIf="tienda.foto_sm != null" >
                                <img src="assets/img/icon.png" style="margin-left: 10px; width: 50px; height: 50px;  border: 1px solid var(--ion-color-secondary); border-radius: 100%;"  *ngIf="tienda.foto_sm == null" >
                            </div>
                        </ion-col>
                        <ion-col size="5" class="ion-text-left">
                            <br>
                            <b class="ion-text-capitalize">{{ tienda.nombretienda }}</b><br>
                            <small>
                                <b style="color: var(--ion-color-primary)">Ver Tienda</b>
                            </small>
                        </ion-col>
                        <ion-col>
                            <b class="valortotal" style="font-weight: bolder;" *ngIf="suma > 4999">$ {{ sumaTotal | number:'3.0' }}</b>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                    <ion-row *ngIf="suma < 5000 ">
                        <ion-col size="12">
                            <p style="margin-top: -10px; padding-left: 10px; color: var(--ion-color-danger)">
                                Necesitas mínimo $5000 para hacer el pedido
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <!-- Productos a comprar -->
            <ion-item lines="full">
                <p slot="start">Productos a comprar {{  totalproductosacomprar }}</p>
                <ion-button (click)="vermodalproductos()" expand="block" fill="outline" slot="end" color="medium" size="small" slot="end" style="font-family: roboto_regular; font-weight: bolder;">
                    Revisar
                </ion-button>
            </ion-item>

            <!-- Metodo de pago -->
            <ion-item lines="full" class="ion-no-padding">
                <ion-grid>
                    <ion-row>
                        <ion-col size="2" style="padding-bottom: none">
                            <img src="{{ icono }}" width="40" height="30"
                                style="position: relative; top: 10px; display: inline-block">
                        </ion-col>
                        <ion-col size="10">
                            <ion-select value="-" mode="ios" (ionChange)="tipoPago(tpago.value)" name="tpago" id="tpago" #tpago placeholder="Tipo de pago" style="--padding-end: 0px">
                                <ion-select-option value="{{ tp.cod_tipo }}" *ngFor="let tp of tipospagos" class="ion-text-capitalize">{{ tp.tipo }}</ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-input value="{{ pushService.userId }}" style="display: none;"></ion-input>
            <h6 class="ion-padding-start">Propina</h6>
            <ion-card-content class="ion-no-padding">
                <div class="ion-text-center">
                    <ion-radio-group value="500" (ionChange)="cambiar(prop)" #prop id="prop" *ngIf="suma > 15000">
                        <ion-grid class="ion-text-center">
                            <ion-row>
                                <ion-col (click)="cambiar(0)">
                                    <ion-label style="margin-right:10px">$0</ion-label>
                                    <ion-radio value="0" mode="md"></ion-radio>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col (click)="cambiar(500)">
                                    <ion-label style="margin-right:10px">$500</ion-label>
                                    <ion-radio value="500" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$1000</ion-label>
                                    <ion-radio value="1000" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$1500</ion-label>
                                    <ion-radio value="1500" mode="md"></ion-radio>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$2000</ion-label>
                                    <ion-radio value="2000" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$2500</ion-label>
                                    <ion-radio value="2500" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$3000</ion-label>
                                    <ion-radio value="3000" mode="md"></ion-radio>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-radio-group>

                    <ion-radio-group value="500" (ionChange)="cambiar(prop)" #prop id="prop" *ngIf="suma < 15000">
                        <ion-grid class="ion-text-center">
                            <ion-row>
                                <ion-col (click)="cambiar(0)">
                                    <ion-label style="margin-right:10px">$0</ion-label>
                                    <ion-radio value="0" mode="md"></ion-radio>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col (click)="cambiar(500)">
                                    <ion-label style="margin-right:10px">$500</ion-label>
                                    <ion-radio value="500" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$1000</ion-label>
                                    <ion-radio value="1000" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$1500</ion-label>
                                    <ion-radio value="1500" mode="md"></ion-radio>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$2000</ion-label>
                                    <ion-radio value="2000" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$2500</ion-label>
                                    <ion-radio value="2500" mode="md"></ion-radio>
                                </ion-col>
                                <ion-col>
                                    <ion-label style="margin-right:10px">$3000</ion-label>
                                    <ion-radio value="3000" mode="md"></ion-radio>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-radio-group>
                </div>
            </ion-card-content>
        </ion-card>

        <!-- Resumen -->
        <ion-card color="transparent" class="resumen" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 8px;">
            <h6 class="ion-padding-start">Resumen</h6>
            <ion-item lines="none" style="margin-bottom: -18px; margin-top: -10px">
                <small>Valor productos</small>
                <div *ngIf="items2; else productos" slot="end">
                    <small *ngFor="let prop of items2">
                        $ {{ suma | number: '3.0' }}
                    </small>
                </div>
                <ng-template #productos>
                    <small slot="end">
                        ${{ suma | number: '3.0'}}
                    </small>
                </ng-template>
            </ion-item>

            <ion-item lines="none" style="margin-top: 0px; margin-bottom: -18px">
                <small>Envio </small>
                <small slot="end">$ {{ envio | number: '3.0' }} </small> <!-- Redondear-->
            </ion-item>

            <ion-item lines="none" style="margin-top: 0px; margin-bottom: -18px">
                <small>App</small>
                <small slot="end" *ngIf="suma >= 5000 ">$ {{ comision | number: '3.0' }} </small> 
                <small slot="end" *ngIf="suma < 5000 " style="color: var(--ion-color-danger)">Necesitas mas productos</small> 
            </ion-item>

            <ion-item-sliding>
                <ion-item lines="none">
                    <small>Propina</small>
                    <div slot="end">
                        <small>$ {{ _propina }} </small>
                    </div>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="eliminarPropina()">
                        <ion-icon name="close-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item lines="none" style="margin-top: -18px; background: transparent; z-index: 1;">
                <h6><b>Total</b></h6>
                <h6 slot="end"><b>$ {{ sumaTotal | number: '3.0' }}</b></h6> 
            </ion-item>

            <ion-item lines="none" class="bgtotalresumen" (click)="enviarPedido( item )" style="height: 64px; padding-top: 15px; padding-bottom: 10px;">
                <b style="font-size: 1.2em; text-shadow: 1px 2px 3px #222; font-weight: bolder; text-align: center !important; margin: 0 auto !important;">Guardar Pedido</b>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
