<h3>Listado Marcas</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="filters">
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
             </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marca of marcas">
        <td>{{marca.nombre_ma}}</td>
        <td><button 
            class="btn btn-primary" 
            routerLink="/auth/editarmar/{{marca.id_ma}}">editar</button></td>
        <td><button 
            class="btn btn-danger"
            (click)="eliminarmar(marca.id_ma)"
            >eliminar</button></td>
        </tr>
    </tbody>
    </table>

    <ngb-pagination [collectionSize]="marcas.length" 
                [(page)]="page"
                ></ngb-pagination>