<h3>Listado de sede</h3>


<div class="d-flex flex-row-reverse mt-3">
    <button class="btn btn-primary" routerLink="/auth/adicionarsede" >Agregar</button>
</div>
<br>


<table class="table table-bordered table-striped">
<thead>
    <tr class="filters">
        <th>Ciudad</th>
        <th>Proveedor</th>
         <th>Nombre Sede </th>
        <th>Direccion Sede</th>
        <th>editar</th>
        <th>eliminar</th>

        </tr>
</thead>
<tbody>
    <tr *ngFor="let sede of sedes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <td>{{sede.nombre_ciu}}</td>
    <td>{{sede.nombre_pro}}</td>
    <td>{{sede.nombre_sede}}</td>
    <td>{{sede.direccion_sede}}</td>
    
    <td><button 
        class="btn btn-primary" 
        routerLink="/auth/editarsede/{{sede.id_sede}}">editar</button></td>
    <td><button 
        class="btn btn-danger"
        (click)="eliminarsede(sede.id_sede)"
        >eliminar</button></td>
    </tr>
</tbody>
</table>

<ngb-pagination [collectionSize]="sedes.length" 
                [(page)]="page"
                ></ngb-pagination>