ion-content {
    --background: rgba(0,0,0,0.8) !important;
}

ion-header ion-toolbar .wave {
    background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
}

ion-header ion-toolbar .wave img {
    transform: rotate(180deg);
    height: 60px;
    margin-bottom: -5px !important;
}

ion-toolbar p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 0.8em;
}

.comentarios-div{
    // width: 98%;
    // margin-left: 5px;
    // margin-top: 5%;
}

ion-card {
    width: 100%;
    // left: -10px;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: -10px;
}

ion-footer ion-toolbar .wave2 {
    background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
}

ion-footer ion-toolbar .wave2 img {
    transform: rotate(0deg);
    height: 60px;
    margin-bottom: -5px !important;
}