<h4>Cargas de  mantenimientos</h4>
<div class="col-md-8 form-group">        
    <input type="file" 
           class="form-control" 
           (change)="addfile($event)" 
           placeholder="Upload file" 
           accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">        
  </div> 


  <div *ngIf=" validacion == 200" class="mt-5">
      <app-barra
                [progresBar]="0"
                [progresBarBackground]="'#17747E'"
                [respuesta]="validacion" 
      ></app-barra> 
  </div>

  <div *ngIf="validacion == 404 || validacion ==200">
      <app-snackbar
                [fondo]="'#17747E'"
                [nota]="mensaje"
      ></app-snackbar>

  </div>