<h3>Listado de Manteniminetos por vencer</h3>

<table class="table table-bordered table-striped">

    <thead>
        <tr class="filters">
            <th>Provedor</th>
            <th>Fecha mantenimiento</th>
            <th>Fecha actual</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let li of listas" >
            <td>{{li.nombre_pro}}</td>
            <td  [ngClass]="{'text text-danger':li.fecha_actu > li.fecha_pro_man }">{{li.fecha_pro_man}}</td>
            <td>{{li.fecha_actu}}</td>
        </tr>
    </tbody>

</table>