<ion-content>

    <ion-header class="ion-no-border" style="z-index: 9999;">
        <ion-toolbar color="">
            <ion-buttons slot="start">
                <ion-menu-button color="dark"></ion-menu-button>
            </ion-buttons>
            <ion-title> Hola <span color="primary" class="ion-text-capitalize">Bienvenido</span> </ion-title>
        </ion-toolbar>
        <div id="pago" (click)="verCanasta()" class="ion-activatable ripple-parent">
            <img src="assets/img/carrito-compra.png" id="carrito-compras">
            <ion-img src="assets/img/bganancias.png" style="margin-left: 15px"></ion-img>
            <ion-label>Carrito de compras</ion-label><br>
            <p *ngIf="suma > 0">$ {{ suma | number: '3.0' }} </p>
            <p *ngIf="suma == 0">$ 0</p>
            <p class="pagar">Pagar ahora</p>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </ion-header>

    <!-- implementaciion de boton restaurantes -->

    <ion-segment class="espacios-iconos" style="margin-top: 75px;" >
        <ion-segment-button value="1" #termino2 (click)="goToSlide(termino2.value)">
          <ion-label>CATEGORIAS</ion-label>
          
          
        </ion-segment-button>


        <ion-segment-button value="0" #termino (click)="goToSlide(termino.value)">
            <ion-label>Tiendas</ion-label>
          </ion-segment-button>


        <ion-segment-button value="2" #termino3 (click)="goToSlide(termino3.value);resta()">
            <ion-label>RESTAURANTES</ion-label>
          </ion-segment-button>
      </ion-segment>


      <ion-slides pager="true"  #slides>
        <ion-slide >
            

                     


    <ion-list  lines="none" class="estilos">
        <ion-item>
              <!-- Categorias tiendas -->
            <ion-card color="transparent" id="categorias" class="ion-no-paddiing" style="margin-top: 0px">
                <ion-card-header class="ion-no-padding">
                    <h6 style="font-family: roboto_black !important;">Busca tus Tiendas por Categorías</h6>
                    <ion-searchbar color="light" enterkeyhint="go" (ionChange)="buscador( busqueda1 )" #busqueda1
                        animated="false" mode="ios" placeholder="Busca la tienda por nombre" onfocus="true" ></ion-searchbar>
                </ion-card-header>
                <ion-slides pager="true" [options]="slideOptsCategorias" #slideWithNav2
                    (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)" style="margin-left: -1em; margin-right: 0px">
                    <ion-slide *ngFor="let categoria of categorias" class="ion-activatable ripple-parent"
                        (click)="verCategoria(categoria.codigo)">
                        <img src="{{ cdn_site }}{{ categoria.base_url}}{{ categoria.foto_sm }}">
                        <br>
                        <span
                            style="font-size: 0.95em; font-family: roboto_regular !important; text-transform: capitalize; font-weight: bolder; margin-left: 10px">{{
                            categoria.nombre }}</span>
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-slide>
                </ion-slides>
        
                
            </ion-card>
          
        </ion-item>

        <ion-item class="ion-no-padding margen">
           <!-- <div class="toolbaroptions" style="margin-bottom: 10px;"></div>-->

            <!-- Ver mapa  -->
            <ion-card class="ion-no-padding" class="lugares" style="margin-top: 5px">
                <ion-item lines="none" button (click)="verSitios()">
                    <ion-icon name="location" slot="start" color="primary"></ion-icon>
                    <ion-label color="transparent">
                        <h4>Ubícate en el mapa</h4>
                        <p><b>Encuentra las tiendas más cercanas</b></p>
                    </ion-label>
                </ion-item>
            </ion-card>
        
        
       <!-- <div class="toolbaroptions" style="margin-bottom: 10px;"></div>-->
        </ion-item>
        <ion-item>
    <!-- banner -->
    <ion-card color="transparent" class="ion-no-padding" style="margin-top: 20px">
        <ion-slides mode="md" scrollbar="md" [options]="slideOptsBanner" #slider
            (ionSlidesDidLoad)="slidesDidLoad(slider)">
            <ion-slide>
                <img src="assets/img/banner/banner1.jpg">
            </ion-slide>
            <ion-slide>
                <img src="assets/img/banner/banner2.jpg">
            </ion-slide>
        </ion-slides>
    </ion-card>

        </ion-item>
   <!-- Categorias de articulo -->
    <!-- 
        <ion-item>
          
                              
     <ion-card color="transparent" id="categoriasart" class="ion-no-paddiing espcate" style="margin-top: 35px">
        <ion-card-header class="ion-no-padding">
            <h6 style="font-family: roboto_black !important;">Categorías de artículos que puedes encontrar</h6>
        </ion-card-header>
       
    </ion-card>

            </ion-item>
            <ion-item>
            <ion-grid >
                <ion-row>
                    <ion-col size="4" size-lg="3" size-mg="4" size-sm="6" *ngFor="let cart of categoriasart" class="ion-activatable ripple-parent">
            
                        <ion-card>
                        

                            <ion-thumbnail >
                                <img src="{{ cdn_site }}categorias_art/{{ cart.foto }}" class="cuadros">
                            </ion-thumbnail>
                            <br>
                             <p style="text-align: center">{{ cart.categoria }}</p>
                        </ion-card>
                    </ion-col>
                  
                </ion-row>
            </ion-grid>


        </ion-item>-->
        <ion-item class="ion-no-padding margen">
             <!-- <h1>CATEGORIAS</h1>-->
          <app-categoriaspro  [categoriasart]="categoriasart"
                              [cdn_site]="cdn_site"></app-categoriaspro>     
        </ion-item>
       
      </ion-list>

        </ion-slide>
        <ion-slide>
         <!-- <h1>CATEGORIAS</h1>-->
          <app-categoriaspro  [categoriasart]="categoriasart"
                              [cdn_site]="cdn_site"></app-categoriaspro>       

        </ion-slide>
        <ion-slide>
            <app-restaurantes></app-restaurantes>
          
          </ion-slide>
      </ion-slides>  
       

    <!-- Resultados  -->
    <ion-content *ngIf="!view" class="resultados" style="z-index: -11;">
        <ion-grid>
            <div *ngFor="let res of resultados">
                <ion-row class="opacidad ion-no-padding" (click)="verTienda(res.codigo, res.letrero)">
                    <ion-col class="ion-text-left ion-no-padding col" size="2"
                        style="border-radius: 10px 0px 0px 10px; border-left: 1px solid var(--ion-color-secondary); border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary);">
                        <ion-thumbnail style="width: 75px; height: 75px; margin-top: 15px; margin-left: 10px;">
                            <img src="{{ cdn_site }}{{ res.fotobaseurlperfil }}{{ res.fotoperfil }}"
                                style="border-radius: 10px !important;" *ngIf="res.fotoperfil != null">
                            <img src="assets/img/icon.png" style="border-radius: 10px !important;"
                                *ngIf="res.fotoperfil == null">
                        </ion-thumbnail><br><br>
                        <div>
                            <ion-badge color="success" *ngIf="res.letrero == 'abierto'" class="letrero">
                                <small>Abierto</small></ion-badge>
                            <ion-badge color="danger" *ngIf="res.letrero == 'cerrado'" class="letrero">
                                <small>Cerrado</small></ion-badge>
                        </div>
                    </ion-col>
    
                    <ion-col class="ion-no-padding nombres col"
                        style="padding-left: 35px !important; text-align: left !important; border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary);"
                        size="8">
                        <h6 class="ion-text-capitalize" style="white-space: normal;">{{ res.tienda }}</h6>
                        <div class="ion-text-capitalize" style="white-space: normal;">{{ res.nombre }} {{ res.apellido }}</div>
                        <small class="horarios">
                            <b class="dias ion-text-capitalize" style="color: var(--ion-color-primary) !important">{{ nomenclaturadia }}: </b>
                            <b class="hora" *ngIf="res.hora_apertura !='cerrado' ">{{ res.hora_apertura }} - {{ res.hora_cierre }}</b>
                            <b class="hora" *ngIf="res.hora_apertura =='cerrado' ">Cerrado</b>
                        </small>
                        <br><br>
                    </ion-col>
    
                    <ion-col class="iont-text-right ion-no-padding calificacion col"
                        style="border-radius: 0px 10px 10px 0px; border-right: 1px solid var(--ion-color-secondary); border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary); "
                        size="2">
    
                        <ion-avatar style="width: 55px !important; height: 55px !important; margin-top: 10px">
                            <img src="{{ cdn_site }}{{ res.fotobaseurllog }}{{ res.fotologo }}"
                                *ngIf="res.fotologo != null">
                            <img src="assets/img/icon.png" *ngIf="res.fotologo == null">
                        </ion-avatar>
                        <h6 style="margin-bottom: 5px; text-align: center;">
                            <!-- {{ tiendac.calificaciones }} //-->
                            <ion-icon name="star" color="success"></ion-icon>
                        </h6>
                    </ion-col>
    
                </ion-row>
            </div> 
        </ion-grid>
        <ion-card class=" card-mensaje">
            <h6
                style="text-align: center; color: rgba(219, 64, 51, 0.98); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  ">
                No se encontraron más resultados</h6>
            <ion-slide>
                <img src="assets/img/errorsi.png">
            </ion-slide>
        </ion-card>
        <br> <br>
    </ion-content>

 
    <!-- Productos Sugeridos -->
    <ion-card color="transparent" id="sugerencias" class="ion-no-padding" style="margin-top: -10px;"
        *ngIf="productoscercanos != '' ">
        <ion-card-header class="ion-no-padding" style="margin-left: 5px">
            <h6 style="font-family: roboto_black !important;">Sugerencias del barrio para ti</h6>
        </ion-card-header>
        <ion-card-content class="ion-no-padding" style="margin-top: -10px">
            <ion-segment scrollable mode="md">
                <ion-segment-button class="ion-no-padding ionsegmentproductoscercanos"
                    *ngFor="let prod of productoscercanos"
                    (click)="iraProducto( prod.codigo, prod.cod_tendero, prod.letrero )">
                    <b class="productoscercanosnombretienda">{{ prod.nombretienda }}</b>
                    <img src="{{ cdn_site }}{{ prod.base_url }}{{ prod.foto_sm }}" class="productoscercanosimagen">
                    <div class="info" id="productoscercanosinformacion">
                        <img src="assets/img/icon.png" width="20" height="20" style="margin-top: 15px;"><br>
                        <h6 color="light" class="ion-text-center">$ {{ prod.precio | number: '3.0'}}
                        </h6>
                        {{ prod.articulo | truncate: 52 }}
                    </div>
                </ion-segment-button>
            </ion-segment>
        </ion-card-content>
    </ion-card>

    <!-- Lo mas cercano -->
    <ion-card color="transparent" id="cercanos" class="ion-no-margin ion-no-padding" style="margin-top: -20px;"
        *ngIf="cercanas != '' ">
        <ion-card-header>
            <h6 style="font-family: roboto_black !important;">Lo mas cercano</h6>
        </ion-card-header>
        <ion-card-content>
            <ion-segment scrollable mode="md" style="margin-top: -30px;">
            <ion-segment-button value="{{ t.codigo }}" *ngFor="let t of cercanas" (click)="iraTienda( t.codigo, t.letrero )">
                
                <ion-badge color="success" class="badge-letrero-cercanos" *ngIf="t.letrero == 'abierto' ">
                    <small>Abierto</small>
                </ion-badge>
                <ion-badge color="danger" class="badge-letrero-cercanos"
                    *ngIf="t.letrero == 'cerrado'"><small>Cerrado</small>
                </ion-badge>

                <img src="{{ cdn_site }}{{ t.base_url }}{{ t.foto_sm }}" class="sugerenciasimagen"
                    *ngIf="t.base_url != null ">
                <img src="assets/img/icon.png" class="sugerenciasimagen" *ngIf="t.base_url == null ">
                <br>
                <small class="sugerenciasnombretienda">
                    {{ t.nombretienda }}
                </small>
            </ion-segment-button>
        </ion-segment>
        </ion-card-content>
    </ion-card>

   
      <!-- Categorias de articulo -->
    <!-- <ion-card color="transparent" id="categoriasart" class="ion-no-paddiing" style="margin-top: 35px">
        <ion-card-header class="ion-no-padding">
            <h6 style="font-family: roboto_black !important;">Categorías de artículos que puedes encontrar</h6>
        </ion-card-header>
        <ion-slides mode="md" scrollbar="md" [options]="slideOptsCategoriasArt" #slidercatart
            (ionSlidesDidLoad)="slidesDidLoad(slidercatart)">
            <ion-slide *ngFor="let cart of categoriasart" class="ion-activatable ripple-parent">
                <ion-thumbnail>
                    <img src="{{ cdn_site }}categorias_art/{{ cart.foto }}">
                </ion-thumbnail>
                <br><br><br>
                <p style="text-align: center">{{ cart.categoria }}</p>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-slide>
        </ion-slides>
        
 
    </ion-card>

-->
</ion-content>