
<ion-content color="transparent">
    
    <div  class="contenedor-modal" style="margin-left: -10px; margin-top: -10px;">
        <div *ngFor="let dato of datos">
            <ion-card class="pedido-header ion-no-padding">
                <ion-header class="ion-no-border">
                    <ion-toolbar>
                        <div>
                            <ion-button  style="background-color: rgb(255, 255, 255);" size="large" fill="clear" class="chat animate__animated animate__pulse animate__infinite" (click)="verChat( dato.codigo, dato.cod_tendero )">
                                <ion-icon name="logo-wechat" style="color: #3880ff;"  ></ion-icon>
                                 <br> 
                                 <br>
                                <small [hidden]="haveMessages" style="font-size: 0.5em; color: black;"><b>Chatea <br>con la <br>tienda</b></small>
                                <ion-badge [hidden]="!haveMessages" color="light">1</ion-badge>
                            </ion-button>
                            </div>
                        <ion-button (click)="cerrar()" fill="clear" slot="end" color="light">
                            <ion-icon name="close-circle-sharp"></ion-icon>
                        </ion-button>
                    </ion-toolbar>
                </ion-header>

                <!-- Nombre y Logo de la tienda -->
                <ion-card-header class="ion-text-center ion-no-padding">
                    <div >
                        <img src="{{ cdn_site }}{{ dato.fotostiendas_baseurl }}{{ dato.fotostiendas_foto_sm }}" style="width: auto; height: 50px; border-radius: 100%;" *ngIf="dato.fotostiendas_baseurl != null">
                        <img src="assets/img/icon.png" style="width: auto; height: 50px; border-radius: 100%;" *ngIf="dato.fotostiendas_baseurl == null">
                    </div>
                    <h6 class="ion-text-capitalize" color="light" style="color: #FFF !important">{{ dato.nombretienda }}</h6>
                    <ion-button fill="clear" color="light" size="small" (click)="verTienda( dato.cod_tendero )">
                        Ir a la tienda
                    </ion-button><br>
                    <span style="color: var(--ion-color-light)">
                        <b>Valor a Pagar $ {{ tlSuma  | number: '3.0' }}</b>
                    </span>
                </ion-card-header>

                <!-- Wave Blanca -->
                <ion-toolbar color="transparent" class="ion-no-padding">
                    <div class="wave">
                        <img src="assets/img/newwave.svg">
                    </div>
                </ion-toolbar>
            </ion-card>
            
            <!-- Tiempo de Entrega -->
            <ion-card class="pedido-entrega">
                <ion-card-content class="ion-text-center">
                    <h6 style="color: var(--ion-color-dark)" id="timer">
                        Tiempo aproximado de entrega
                    </h6>
                    
                    <div *ngFor="let e of estados">
                        <h6 *ngIf="e.tiempoenvio == 0">
                            Aún sin confirmar
                        </h6>
                        <h6 *ngIf="e.tiempoenvio > 0 ">
                            <span class="unit">
                                <b>{{ e.tiempoenvio }}</b>
                            </span>
                            <span class="unit">
                                <b>Mins</b>
                            </span>
                        </h6>
                    </div>
                </ion-card-content>
            </ion-card>

            <!-- Productos comprados -->
            <ion-card class="pedido-productos">
                <ion-item lines="none" details="false">
                    <ion-label><h6 style="font-family: roboto_regular !important;">Compraste {{ totalproductosacomprar }} productos</h6></ion-label>
                    <ion-button (click)="vermodalproductos()" fill="outline" color="medium" shape="round" size="small">
                        Visualizar
                    </ion-button>
                </ion-item>
            </ion-card>

            <!-- Resumen de compra -->
            <ion-card class="pedido-resumen">
                <ion-card-content class="ion-text-center title">
                    <h6 style="color: var(--ion-color-dark)">Resumen de Compra</h6>
                </ion-card-content>
                <ion-card-content>
                    <ion-grid id="otros_detalles" style="color: #000">
                        <ion-row *ngFor="let dato of datos">
                            <ion-col class="ion-padding ion-text-left" size="6">
                                <b>
                                    Tipo de pago: <br><br>
                                    Valor productos: <br>
                                    Envio: <br>
                                    App: <br>
                                    Propina: <br><br>
                                    Valor total:
                                </b>
                            </ion-col>
                            <ion-col class="ion-padding ion-text-right" size="6">
                                <b>
                                    <div >
                                        <div >
                                            <em  *ngIf="dato.tipo_pago == 1">
                                                <ion-img src="assets/img/pasarelas/efectivo.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                                Efectivo
                                            </em>
                                            <em  *ngIf="dato.tipo_pago == 2">
                                                <ion-img src="assets/img/pasarelas/data_debito.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                                Datafono (Debito)
                                            </em>
                                            <em  *ngIf="dato.tipo_pago == 3">
                                                <ion-img src="assets/img/pasarelas/data_credito.png"  style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                                Datafono (Crédito)
                                            </em>
                                            <em  *ngIf="dato.tipo_pago == 4">
                                                <ion-img src="assets/img/pasarelas/nequi.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                                Nequi
                                            </em>
                                            <em  *ngIf="dato.tipo_pago == 5">
                                                <ion-img src="assets/img/pasarelas/daviplata.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                                Daviplata
                                            </em>
                                        </div>
                                    </div><br>
                                    $ {{ dato.totalfactura | number: '3.0' }}<br>
                                    $ {{ dato.envio | number: '3.0' }} <br>
                                    <div >
                                        <div >
                                            $ {{ dato.comision | number: '3.0' }}<br>
                                            $ {{ dato.propina | number: '3.0' }} <br><br>
                                            $ {{ tlSuma  | number: '3.0' }}
                                        </div>
                                    </div>
                                </b>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>

        <!-- Progreso de compra -->
        <ion-card class="pedido-progreso" *ngFor="let e of estados">
            <ion-card-content class="ion-text-center title">
                <h6 style="color: var(--ion-color-dark)">Progreso de Compra</h6>
            </ion-card-content>
            <ion-card-content>
                <ion-progress-bar value="0.3" color="success" *ngIf="e.estatus == 0"></ion-progress-bar>
                    <ion-progress-bar value="0.5" color="success" *ngIf="e.estatus == 1"></ion-progress-bar>
                    <ion-progress-bar value="0.8" color="success" *ngIf="e.estatus == 2"></ion-progress-bar>
                    <ion-progress-bar value="1" color="success" *ngIf="e.estatus == 3"></ion-progress-bar>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon1.png"><br>
                                <span style="color:var(--ion-color-primary) !important"
                                    *ngIf="e.estatus ==  0">Enviado</span>
                                <span *ngIf="e.estatus !=  0">Enviado</span>
                            </ion-col>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon2.png"><br>
                                <span style="color:var(--ion-color-primary) !important"
                                    *ngIf="e.estatus ==  1">Alistando</span>
                                <span *ngIf="e.estatus !=  1">Alistando</span>
                            </ion-col>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon3.png"><br>
                                <span style="color:var(--ion-color-primary) !important" *ngIf="e.estatus == 2">En camino</span>
                                <span *ngIf="e.estatus !=  2">En camino</span>
                            </ion-col>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon4.png"><br>
                                <span style="color:var(--ion-color-primary) !important" *ngIf="e.estatus == 3">Entregado</span>
                                <span *ngIf="e.estatus !=  3">Entregado</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>
<ion-footer style="height: 40px; background-color:white;">

</ion-footer> 

