<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="inicio()" color="light">
                <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
                Regresar al inicio
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
    <ion-grid>
        
        <ion-row >
            <ion-col size="12">
    <ion-card class="ion-text-center" color="transparent">
        <img src="assets/img/nubevecino.png" width="80%">

    </ion-card>

    <ion-card color="transparent" style="height: 100%; overflow-y:auto;">
        <ion-card-header>
            <ion-card-subtitle style="color: #fff">
                Vecino, ingrese sus credenciales
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <form #login (ngSubmit)="onLogin()">
                <ion-item>
                    <ion-input type="email" inputmode="email" clearInput placeholder="Correo electrónico" name="email" mode="ios"
                        [(ngModel)]="log.email" #email></ion-input><br>
                </ion-item>
                <br>
                <ion-item>
                    <ion-input [type]="passwordType" inputmode="password" clearInput placeholder="Contraseña" mode="ios"
                        name="password" [(ngModel)]="log.password" #password></ion-input>
                    <ion-icon name="eye-outline" *ngIf="eye" (click)="togglePasword()" ></ion-icon>
                    <ion-icon name="eye-off-outline" *ngIf="!eye" (click)="togglePasword()" ></ion-icon>
                </ion-item>
                <!--  -->
                <ion-button size="small" fill="clear" color="light" (click)="recordar()" slot="end">
                    ¿Olvidaste tu contraseña?
                </ion-button><br><br>
                <ion-button type="submit" expand="block" fill="solid" color="primary">
                    Ingresar
                </ion-button>
                <br>
                <ion-item color="light" *ngIf="acceso" style="font-family: 'roboto_regular'; text-shadow: none;">
                    <ion-icon slot="end" name="close-outline" (click)="cerrarError()" color="danger"></ion-icon>
                    <span style="text-align: center;">
                        Su usuario o contraseña no son correctos!
                    </span>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>

        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>