ion-header ion-toolbar {
    --background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
}

ion-content {
    overflow-y: visible;
    // --background: url(../../../assets/img/bg.png);
    --background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
    // background-size: cover;
    // background-repeat: no-repeat;
}

ion-card {
    margin-top: 10%;
}

ion-card-title {
    font-family: 'roboto_regular';
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-input, ion-item{
    --background: white;
    --color: #222;
    font-family: 'roboto_thin';
    border-radius: 6px;
}

.button-clear {
    float: right;
}
ion-input {
    border-radius: 6px;
}