<ion-content fullscreen="true">
    <ion-grid fixed>
        <ion-row style="width: 98.2%; margin-left: 5px">
            <ion-col size="12" style="padding: 0px;">
                <div style="background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ); color: #fff">
                    <ion-button (click)="cerrarMenu()" slot="start" fill="clear" color="light">
                        <ion-icon slot="start" name="arrow-back"></ion-icon>
                    </ion-button>
                    <ion-title class="ion-text-center ion-text-capitalize" style="white-space: normal;">{{ numberitem + 1 }} - {{ producto }}</ion-title>
                    <p class="ion-text-center ion-padding">
                        Vecino cliente, el producto {{ producto }} va a ser entregado de la siguiente manera, indicale al tendero los detalles faltantes en el chat del pedido
                    </p>
                    <div class="wave">
                        <img src="assets/img/newwave.svg">
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row style="width: 98.2%; margin-left: 5px; background:#fff; margin-top: 0px">
            <ion-col size="12">
                <p class="ion-text-justify ion-padding" style="text-transform: initial !important;">
                    Vecino cliente, has solicitado {{ cantidad }} elementos del producto {{ producto }}
                </p>
                <ion-item *ngFor="let m of menu" details="false">
                    <ion-label>
                        <h6 class="ion-text-capitalize" style="white-space: normal !important;">{{ m.opcion_producto  }}</h6>
                        <p class="ion-text-capitalize" style="white-space: normal !important;">{{ m.opcion_menu }}</p>
                    </ion-label>
                </ion-item>
    
                <ion-item details="false">
                    <ion-label>
                        <h6 class="ion-text-capitalize">Comentarios:</h6>
                        <p class="ion-text-capitalize" style="white-space: normal !important;" *ngIf="comentario != 'null' ">{{ comentario }}</p>
                        <p class="ion-text-capitalize" style="white-space: normal !important;" *ngIf="comentario == 'null' ">Sin observaciones</p>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>