<ion-header class="ion-no-border">
    <ion-toolbar
        style="--background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ); color: #fff">
        <ion-buttons slot="start" (click)="atras()">
            <ion-button>
                <ion-icon name="arrow-back-outline" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="margin-bottom: 21px; height: 35px; font-weight: bolder; text-transform: uppercasse">
            <img src="assets/img/icon.png"
                style="width: 30px; height: 30px; border-radius: 100%; position: absolute; top: -1px; left: 75px ">
            <b>Vecino App</b>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar style="--background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) )">
        <ion-searchbar color="light" enterkeyhint="go" (ionChange)="buscador( busqueda )" #busqueda animated="false"
            mode="ios" placeholder="Busca la tienda que necesites" onfocus="true"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar color="transparent" class="ion-no-padding">
        <div class="wave">
            <img src="assets/img/newwave.svg">
        </div>
    </ion-toolbar>
    <div color="transparent" id="categorias">
        <ion-segment scrollable mode="md" value="{{ categoria }}" *ngIf="view">
            <ion-segment-button value="{{ c.codigo }}" *ngFor="let c of categoriasT"
                (click)="mostrarTenderos2( c.codigo )">
                <ion-icon name="ellipse" style="color: var(--ion-color-secondary) !important"
                    *ngIf="c.codigo != categoria" style="width: 10px; height: 10px;"></ion-icon>
                <ion-icon name="ellipse" style="color: var(--ion-color-primary) !important"
                    *ngIf="c.codigo == categoria" style="width: 10px; height: 10px;"></ion-icon>
                <span style="text-transform: capitalize; font-size: 0.8em">{{ c.nombre }}</span><br>
            </ion-segment-button>
        </ion-segment>
        <ion-segment scrollable value="1" *ngIf="!view" mode="md">
            <ion-segment-button value="1" style="margin-left: auto !important; margin-right:auto !important;">
                <ion-icon name="ellipse" style="color: var(--ion-color-primary) !important"
                    style="width: 10px; height: 10px;"></ion-icon>
                <span style="text-transform: capitalize; font-size: 0.8em">Resultados</span><br>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content *ngIf="view">
    <ion-grid>
        <div *ngFor="let t of cercanas">
            <ion-row class="opacidad ion-no-padding" *ngIf="t.cod_categoria_tienda == codCategoria" (click)="verTienda(t.codigo, t.letrero)">
                <ion-col class="ion-text-left ion-no-padding col" size="2"
                    style="border-radius: 10px 0px 0px 10px; border-left: 1px solid var(--ion-color-secondary); border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary);">
                    <ion-avatar style="width: 75px; height: 75px; margin-top: 15px; margin-left: 10px;">
                        <img src="{{ cdn_site }}{{ t.fotobaseurlperfil }}{{ t.fotoperfil }}"
                            style="border-radius: 10px !important;" *ngIf="t.fotoperfil != null">
                        <img src="assets/img/icon.png" style="border-radius: 10px !important;"
                            *ngIf="t.fotoperfil == null">
                    </ion-avatar>
                    <div>
                        <ion-badge color="success" *ngIf="t.letrero == 'abierto'" class="letrero"><small>Abierto</small>
                        </ion-badge>
                        <ion-badge color="danger" *ngIf="t.letrero == 'cerrado'" class="letrero"><small>Cerrado</small>
                        </ion-badge>
                    </div>
                </ion-col>

                <ion-col class="ion-no-padding nombres col"
                    style="padding-left: 20px; text-align: left !important; border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary);"
                    size="8">
                    <h6 class="ion-text-capitalize">{{ t.tienda }}</h6>
                    <div class="ion-text-capitalize">{{ t.nombre }} {{ t.apellido }}</div>
                    <small class="horarios">
                        <b class="dias ion-text-capitalize">{{ nomenclaturadia }}: </b>
                        <b class="hora" *ngIf="t.hora_apertura !='cerrado' ">{{ t.hora_apertura }} - {{ t.hora_cierre }}</b>
                        <b class="hora" *ngIf="t.hora_apertura =='cerrado' ">Cerrado</b>
                    </small>
                    <br><br>
                </ion-col>

                <ion-col class="iont-text-right ion-no-padding calificacion col"
                    style="border-radius: 0px 10px 10px 0px; border-right: 1px solid var(--ion-color-secondary); border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary); "
                    size="2">

                    <ion-avatar style="width: 40px; height: 40px; margin-top: 10px !important;">
                        <img src="{{ cdn_site }}{{ t.fotobaseurllog }}{{ t.fotologo }}" *ngIf="t.fotologo != null">
                        <img src="assets/img/icon.png" *ngIf="t.fotologo == null">
                    </ion-avatar>

                    <h6 style="margin-bottom: 5px; text-align: center">
                        <!-- {{ tiendac.calificaciones }} -->
                        <ion-icon name="star" color="success"></ion-icon>
                    </h6>
                </ion-col>

            </ion-row>
        </div>

        <ion-row class="opacidad ion-no-padding" *ngIf="noitems">
            <ion-col size="12">
                <ion-item>
                    <ion-label>
                        <h6>No hay elementos de esta categoría</h6>
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
<!---->

<!-- Resultados -->
<ion-content *ngIf="!view">
    <ion-grid>
        <div *ngFor="let t of resultados">
            <ion-row class="opacidad ion-no-padding" (click)="verTienda(t.codigo, t.letrero)">
                
                <ion-col class="ion-text-left ion-no-padding col" size="3"
                style="border-radius: 10px 0px 0px 10px; border-left: 1px solid var(--ion-color-secondary); border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary);">
                <ion-avatar style="width: 75px; height: 75px; margin-top: 15px; margin-left: 10px;">
                    <img src="{{ cdn_site }}{{ t.fotobaseurlperfil }}{{ t.fotoperfil }}"
                        style="border-radius: 10px !important;" *ngIf="t.fotoperfil != null">
                    <img src="assets/img/icon.png" style="border-radius: 10px !important;"
                        *ngIf="t.fotoperfil == null">
                </ion-avatar>
                <div>
                    <ion-badge color="success" *ngIf="t.letrero == 'abierto'" class="letrero"><small>Abierto</small>
                    </ion-badge>
                    <ion-badge color="danger" *ngIf="t.letrero == 'cerrado'" class="letrero"><small>Cerrado</small>
                    </ion-badge>
                    <ion-badge color="dark" *ngIf="t.letrero == 'sin establecer'" class="letrero"><small>Sin
                            establecer</small></ion-badge>
                </div>
            </ion-col>

            <ion-col class="ion-no-padding nombres col"
                style="text-align: left !important; border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary);"
                size="7">
                <h6 class="ion-text-capitalize">{{ t.tienda }}</h6>
                <div class="ion-text-capitalize">{{ t.nombre }} {{ t.apellido }}</div>
                <small class="horarios">
                    <b class="dias">Lunes a vienes: </b>
                    <b class="hora" *ngIf="t.hlv_a != null "> {{ t.hlv_a }} - {{ t.hlv_c }}</b>
                    <b class="hora" *ngIf="t.hlv_a == null "> Sin definir</b> <br>
                    <b class="dias">Sábados: </b>
                    <b class="hora" *ngIf="t.hs_a != null "> {{ t.hs_a }} - {{ t.hs_c }}</b>
                    <b class="hora" *ngIf="t.hs_a == null "> Sin definir</b> <br>
                    <b class="dias">Domingos - Festivos: </b>
                    <b class="hora" *ngIf="t.hf_a != null "> {{ t.hf_a }} {{ t.hf_c }}</b>
                    <b class="hora" *ngIf="t.hf_a == null "> Sin definir</b>
                </small>
                <br><br>
            </ion-col>

            <ion-col class="iont-text-right ion-no-padding calificacion col"
                style="border-radius: 0px 10px 10px 0px; border-right: 1px solid var(--ion-color-secondary); border-top: 1px solid var(--ion-color-secondary); border-bottom: 1px solid var(--ion-color-secondary); "
                size="2">

                <ion-avatar style="width: 40px; height: 40px;">
                    <img src="{{ cdn_site }}{{ t.fotobaseurllog }}{{ t.fotologo }}" *ngIf="t.fotologo != null">
                    <img src="assets/img/icon.png" *ngIf="t.fotologo == null">
                </ion-avatar>

                <h6 style="margin-bottom: 5px">
                    <!-- {{ tiendac.calificaciones }} -->
                </h6>
                <ion-icon name="star" color="success"></ion-icon>
            </ion-col>

            </ion-row>
        </div>
    </ion-grid>
</ion-content>