ion-header ion-toolbar .wave {
    background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
}

ion-header ion-toolbar .wave img {
    transform: rotate(180deg);
    height: 60px;
    margin-bottom: -5px !important;
}

ion-header ion-title span{
    color: var(--ion-color-primary) !important;
}

ion-header ion-toolbar ion-title {
    text-align: center;
    font-family: 'roboto_light' !important;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: -10px;
}

// ---- Ion Content ----------------------------------------------------------------------

ion-header ion-input {
    --background: var(--ion-color-secondary);
    color: var(--ion-color-dark);
    border: 1px solid var(--ion-color-secondary);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 0.8em;
}

ion-header ion-input ion-icon {
    margin-left: 10px;
}

// Categorias tiendas
#categorias .custon-nav{
    cursor: pointer;
  }
 
#categorias .swiper-slide {
    // height: 100px;
    font-size: 0.7em;
}

#categorias .swiper-slide div {
    // padding-top: 10px;
    --padding-start: 15px;
    --padding-end: 15px;
}

.logoTiendas{
    // width: 40px; 
    // height: 40px; 
    // margin-right: 10px;
    border: 1px solid var(--ion-color-secondary);
    border-radius: 100%;
    // padding: 2px;
    // display: inline-block;
}

ion-avatar {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.opacidad {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    // opacity: 0.7;
    margin-bottom: 5px;
    text-align: right;
    border: none;
    background-position: bottom center;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
}

.col {
    // background-color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: none;
}

ion-thumbnail {
    height: 100px !important;
}

ion-avatar {
    width: 60px !important;
    height: 60px !important;
    position: relative !important;
    right: 10px !important;
}

.nombres {
    text-align: left !important;
    color: var(--ion-color-dark);
    // text-shadow: 1px 2px 3px var(--ion-color-dark) !important;
    font-family: 'roboto_light';
    border:none;
}

.calificacion {
    border:none;
    color: var(--ion-color-dark) !important;
    font-family: 'roboto_light';
    // text-shadow: 1px 2px 3px var(--ion-color-dark) !important;
}

/* Horarios */
.horarios .dias {
    color: var(--ion-color-primary) !important;
    font-weight: bolder;
}

.horarios b {
    font-size: 0.9em;
    color: var(--ion-color-dark) !important;
    font-weight: bolder;
    font-family: 'roboto_black' !important;
} 

/* Letreros */
.letrero {
    position: absolute;
    top: 80px;
    left: 10px;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}