<h3>Listado de usuarios</h3>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="filters">
                <th>nombre </th>
                <th>correo</th>
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Cambiar pass</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usu of usuarios">
        <td>{{usu.nombre_usu}}</td>
        <td>{{usu.correo_usu}}</td>
        <td> <button class="btn btn-danger" routerLink="/auth/editLogi/{{usu.id_usu}}">editar</button></td>
        <td> <button class="btn btn-primary"
                     (click)="delusuario(usu.id_usu)">eliminar</button></td>
    
        <td> <button class="btn btn-danger"  (click)="generadorPass(usu.correo_usu)">Cambiar Pass</button></td>
        </tr>
    </tbody>

</table>