<ion-header class="ion-no-border" mode="md">
    <div class="bgheader" style="background-image: url({{ logotienda }})">
        <ion-toolbar class="ion-text-center ion-no-padding-bottom" style="background: rgba(0,0,0,0.2);">
            <ion-buttons (click)="atras()" style="margin-left: 10px;">
                <ion-button color="light" fill="clear" size="large" strong="true">
                    <ion-icon name="arrow-back" style="font-size: 1.3em !important; margin-right: 10px;"></ion-icon>
                    <span style="font-family: roboto_black; color: #fff; text-shadow: 1px 2px 3px #222">Atrás</span>
                </ion-button>
            </ion-buttons>
            <ion-button fill="clear" slot="end" mode="md"
                class="buttoncanasta animate__animated animate__pulse animate__infinite" (click)="verCanasta()"  *ngIf="suma > 0">
                <ion-icon name="cart-outline" style="display: inline-block; margin-right: 10px;"></ion-icon>
                <span>$ {{ suma | number: '3.0' }}<br><small>Ir a canasta</small></span>
            </ion-button>
        </ion-toolbar>
        <ion-toolbar class="ion-no-padding" style="padding-bottom: 35px;">
            <ion-title class="ion-text-center ion-text-capitalize" style="margin-top: 1%">
                <span style="font-size: 0.75em; font-family: roboto_black; text-shadow: 1px 2px 3px #222; white-space: normal;">
                    <ion-icon name="location" color="light"></ion-icon>
                    {{ direcciontienda }}
                </span><br><br>
                {{ nombretienda }}
            </ion-title>
            <p class="ion-text-center"
                style="font-family: 'roboto_regular' !important; padding-bottom: 10%; font-size: 1.1em; ">
                Categorías de Productos</p>
        </ion-toolbar>
        <ion-toolbar color="transparent" style="margin-top: -55px;" class="ion-no-padding">
            <div class="wave">
                <img src="assets/img/newwave.svg">
            </div>
        </ion-toolbar>
    </div>
</ion-header>

<ion-content class="ion-text-center">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="3" class="ion-text-center" class="imgcategoria" *ngFor="let c of imgcategorias"
                class="ion-activatable ripple-parent" (click)="iracategoria( c.codigo, c.categoria )">
                <img src="{{ cdn_site }}categorias_art/{{ c.foto_sm }}" *ngIf="c.foto_sm != null"
                    style="width: 100%; height: 80px; border-radius: 8px;">
                <img src="assets/img/enlaceroto.png" *ngIf="c.foto_sm == null"
                    style="width: 100%; height: 80px; border-radius: 8px;">
                <small class="ion-text-capitalize"><b>{{ c.categoria }}</b></small>
                <ion-ripple-effect></ion-ripple-effect>
                <br>
                <br>
                <!-- <ion-card color="transparent" class="canasta ion-activatable ripple-parent" (click)="verCanasta()" *ngIf="suma">
                    <div class="bg">
                        <img src="assets/img/car.png" class="car">
                        <img src="assets/img/logotransparent.png" class="vecinotransparente">
                        <h6 class="canasta_precio">$ {{ suma | number: '3.0' }}</h6>
                        <p>Ver canasta</p>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </ion-card> -->
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <br>
</ion-content>