ion-toolbar {
    --background: url(../../../assets/img/header.jpg);
    --background-size: cover;
    color: var(--ion-color-light);
    background-size: cover;
    text-align: center;
}

ion-header ion-title span {
    color: var(--ion-color-primary) !important;
}

ion-header ion-toolbar ion-title {
    text-align: center;
}

ion-header ion-toolbar span.leyenda {
    font-family: 'roboto_light' !important;
    padding-left: 5px;
    padding-right: 5px;
}

// ---- Ion Content ----------------------------------------------------------------------
ion-header ion-input {
    --background: var(--ion-color-secondary);
    color: var(--ion-color-dark);
    border: 1px solid var(--ion-color-secondary);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-right: 10px;
    font-size: 0.8em;
}

ion-header ion-input ion-icon {
    margin-left: 10px;
}

// Categorias tiendas
#categorias .custon-nav {
    cursor: pointer;
}

#categorias .swiper-slide {
    height: auto;
    font-size: 0.7em;
}

#categorias .swiper-slide div {
    padding-top: 10px;
    // --padding-start: 15px;
    // --padding-end: 15px;
}

// Slides elementos
ion-card-header {
    padding: 0px !important;
}

.elementos-slides ion-card-header span {
    color: var(--ion-color-secondary);
}

.elementos-slides .custon-nav {
    cursor: pointer;
}

.elementos-slides .swiper-slide {
    height: 100% !important;
}

.elementos-slides .swiper-slide img {
    width: 100%;
    height: 80px !important;
    border-radius: 10px;
}

.elementos-slides .swiper-slide .pos-badge {
    width: auto;
    position: absolute;
    // right: 0px;
    z-index: 10;
}

.elementos-slides .informacion {
    position: relative;
    top: 60px;
    z-index: 10 !important;
    width: 100%;
}

.elementos-slides ion-button {
    font-family: 'roboto_light' !important;
}

// 

.divisor {
    padding-top: 20%;
}

// Canasta

ion-card.canasta {
    z-index: 1;
}

ion-card.canasta .bg {
    width: 70%;
    height: 45%;
    border-radius: 45%;
    position: fixed;
    top: 90%;
    left: calc(70%/5);
    color: var(--ion-color-light);
    background: var(--ion-color-medium);
    text-align: center;
}

ion-card.canasta .car{
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: -10px;
    background: #ffffff;
    border: 1px solid var(--ion-color-medium);
    border-radius: 100%;
    padding: 2px;
    z-index: 11;
}

ion-card.canasta .bg .vecinotransparente{
    width: 40%;
    height: auto;
    position: fixed;
    left: 120px;
    margin-top: 30px;
}

ion-card.canasta .bg .canasta_precio {
    margin-top: 1%;
}

ion-card.canasta .bg p {
    margin-top: -10px;
}

.addprom {
    font-size: 0.8em;
    padding: 0px !important;
    margin-left: 50px;
    height: 20px;
}

/* Cerrado */
#cerrado {
    position: absolute !important;
    margin-top: 0px !important;
    left: 0px !important;
    height: 100% !important;
    width: 100%;
    background: rgba(0,0,0,0.8) !important;
    z-index: 1;
    overflow: hidden;
} 

#cerrado img {
    margin-top: 15%;
    margin-bottom: 5%;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
}

#cerrado h6 {
    font-family: 'roboto_thin' !important;
    color: var(--ion-color-light) !important;
    font-size: 1.3em;
}

.imgcategoria {
    width: 100%; 
    height: 100%; 
    // border-radius: 10% 0px 100% 0px; 
    position: absolute;
}

.nombrecategoria {
    background-color: #000000b3;
    color: #fff;
    position: relative;
    text-align: right;
    float: right;
    padding-right: 10px;
    font-weight: bolder;
    font-size: 0.9em;
    width: 55%;
    height: 90%;
    white-space: normal;
    top: 11px;
    border-radius: 100% 0px 0px 0px;
}

.nombrecategoria > span {
    bottom: 10px;
    right: 10px;
    padding-left: 10px;
    padding-right: 5px;
    position: absolute;
}