ion-header ion-toolbar {
    --background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
}

ion-footer ion-toolbar {
    --background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
}

ion-content {
    overflow-y: visible;
    // --background: url(../../../assets/img/bg.png);
    --background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) );
    // background-size: cover;
    // background-repeat: no-repeat;
}

.bgclientes {
    position: absolute;
    opacity: 0.2;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    left: 0px;
    top: 140px;
}

ion-card {
    margin-top: 50%;
    background: transparent !important;
}

.button-clear {
    font-family: 'roboto_thin';
}

.facebook {
    --background: #4267B2;
  }
  
  .google {
  //   --background: #DB4437;
      --background: var(--ion-color-light);
      --color: var(--ion-color-dark);
  }
  
  .apple {
    --background: #fff;
    --color: #000
  }