<ion-header class="ion-no-border ion-no-padding">
    <ion-toolbar style="--background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ); color: #fff">
        <ion-buttons slot="start" (click)="iraAtras()">
            <ion-button>
                <ion-icon name="arrow-back-outline" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title size="small" class="direccion" *ngIf="!red">
            <div class="direccion" *ngFor="let d of direccion" (click)="verDireccion( d.direccion )">
                <ion-icon name="location" color="light"></ion-icon>
                <small id="direccion" *ngIf="d.cod_cliente == cliente">
                    {{ d.direccion }}
                </small>
                <ion-icon name="chevron-down-outline" color="light"></ion-icon>
            </div>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar style="--background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ); color: #fff">
        <ion-searchbar enterkeyhint="search" (ionChange)="buscar( busqueda )" (ionClear)="limpiarbusqueda()" animated="false" mode="ios" #busqueda placeholder="¿Vecino que vas a pedir hoy?" onfocus="true"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar color="transparent" class="ion-no-padding">
        <div class="wave">
            <img src="assets/img/newwave.svg">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <ion-grid fixed>
        
        <ion-row >
            <ion-col size="12"> 
    <!-- Buscador -->
    <ion-card class="ion-padding-top ion-no-padding-left ion-no-padding-right" >
        <div *ngIf="resultados && !inicio" > <!---->
            <ion-list  mode="ios" >
                <div *ngFor="let res of resultados">
                    <ion-item   detail button  lines (click)="mostrarResultados( res.articulo, res.cod_articulo )" >
                        <ion-label style="text-transform: capitalize !important; white-space:normal !important">
                            <small style="color: red;">{{ res.nombretienda }}</small> 
                            <h6>{{ res.articulo  }} </h6> <br>
                            
                        </ion-label>
                            
                        
                    </ion-item>
                </div>
            </ion-list>
        </div>
    
        <ion-item *ngIf="resultados == '' && !inicio && resultados != null ">
            <ion-label style="text-transform: capitalize !important" ><h6>No se encontró ningún resutado</h6></ion-label>
        </ion-item>
    </ion-card>
    <!-- Imagen del Inicio -->
    <div class="ion-text-center" *ngIf="inicio" >
        <img src="assets/img/result.png" style="margin-top: 15%; width: 70%" >
    </div>

    <!-- Lista de productos encontrados -->
    <div *ngFor="let p of productosbuscados" style="margin-top: -40px">
        <ion-card class=" ion-no-padding" >
            <ion-list>
                <ion-item >
                    <ion-avatar>
                        <img src="{{ cdn_site }}{{ p.basefototienda}}{{p.fototienda}}" class="logo-tendero"  *ngIf="p.fototienda != null">
                        <img src="assets/img/icon.png" class="logo-tendero" *ngIf="p.fototienda == null">
                    </ion-avatar>
                    <ion-label style="text-transform: capitalize !important" class="ion-padding">
                        <h2>{{ p.nombretienda }}</h2>
                    </ion-label>
                    <ion-text class="ion-text-right">
                        <h6></h6>
                        <small><i class="icofont-star" style="color: var(--ion-color-success)"></i></small>
                    </ion-text><br>
                </ion-item>
            
                <ion-item>
                    <img src="{{ cdn_site }}{{ p.basefotoarticulo }}{{p.fotoarticulo}}"  style="height: 100px !important; width: 120px; border-radius: 6px;">
                    <ion-label class="ion-padding" style="white-space: normal;">
                        <h3 style="text-transform: capitalize !important">{{ p.articulo }}</h3>
                        <p style="font-family: roboto_regular;">{{ p.descripcion | truncate: 80 }}</p>
                        <p style="font-family: roboto_regular;">$ {{ p.precio | number: '3.0' }}</p>
                        <ion-button fill="solid" color="primary" expand="block" *ngIf="p.agotado == 1"  (click)="verDetallesProducto( p.cod_articulo, p.cod_tendero, p.letrero )">
                            Ver
                        </ion-button>
                        <ion-button fill="solid" color="danger" expand="block" *ngIf="p.agotado == 0">
                            Agotado
                        </ion-button>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
        </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>