<h3>Listado de Consultas</h3>
<div class="row">
    <div class="col">
        <input #termino type="ext"  class="form-control" (keyup)="consultas(termino.value)" placeholder="Buscar Provedor">
    </div>
</div>

<div *ngIf="termino.value" class="mt-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="filters">
                <th>Marca</th>
                <th>Equipo</th>
                <th>Provedor</th>
                <th>Ubicacion</th>
                <th>Modelo</th>
                <th>Ciudad</th>
                <th>Sede</th>
                <th>Serial</th>
                <th>Placa</th>
                <th>TieneMan</th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bus of buscar | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <td>{{bus.nombre_ma}}</td>
            <td>{{bus.nombre_equi}}</td>
            <td>{{bus.nombre_pro}}</td>
            <td>{{bus.nombre_ubi}}</td>
            <td>{{bus.modelo_con}}</td>
            <td>{{bus.nombre_ciu}}</td>
            <td>{{bus.nombre_sede}}</td>
            <td>{{bus.serial_con}}</td>
            <td>{{bus.placa_con}}</td>
            <td>{{bus.mantenimiento_con}}</td>
        </tbody>
        </table>

        <ngb-pagination [collectionSize]="buscar.length" 
                [(page)]="page"
                ></ngb-pagination>
</div>

