<h3>Listado de mantenimientos</h3>
<div class="row">
    <div class="col">
        <input type="text" class="form-control" #data (keyup)="consmante(data.value)" >
    </div>
</div>

<div *ngIf="data.value" class="mt-5">
    Costo Total: {{valor | number}}
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="filters">
                <td>ciudad</td>
                <td>equipo</td>
                <td>marca</td>
                <td>provedor</td>
                <td>sede</td>
                <td>Ubicacion</td>
                <td>periodicidad</td>
                <td>estado_man</td>
                <td>fecha_pro_man</td>
                <td>Costo</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bus of buscar">
                <td>{{ bus.nombre_ciu}}</td>
                <td>{{ bus.nombre_equi}}</td>
                <td>{{ bus.nombre_ma}}</td>
                <td>{{ bus.nombre_pro}}</td>
                <td>{{ bus.nombre_sede}}</td>
                <td>{{ bus.nombre_ubi}}</td>
                <td>{{ bus.periodicidad_man}}</td>
                <td>{{ bus.estado_man }}</td>
                <td>{{ bus.fecha_man}}</td>
                <td>{{ bus.costo_man | number}}</td>
            </tr>
        </tbody>
       

    </table>

</div>