<ion-content style="height: 100%; ">

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <ion-header color="transparent" class="ion-no-border">
                    <ion-toolbar
                        style="--background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ); color: #fff; border-radius: 10px 10px 0px 0px;">
                        <h6 class="ion-padding-start">
                            Productos comprados
                        </h6>
                        <ion-button slot="end" (click)="cerrar()" fill="clear">
                            <ion-icon name="close-circle" color="light"></ion-icon>
                        </ion-button>
                    </ion-toolbar>
                    <ion-toolbar
                        style="--background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ); color: #fff">
                        <p class="ion-text-center ion-padding">Vecino, estos son los productos que has comprado, en caso que
                            hayas seleccionado un menú específico puedes visualizar este con el boton correspondiente</p>
                    </ion-toolbar>
                    <ion-toolbar color="transparent" class="ion-no-padding">
                        <div class="wave">
                            <img src="assets/img/newwave.svg">
                        </div>
                    </ion-toolbar>
                </ion-header>
            
                <ion-list style="border-radius: 0px 0px 10px 10px;">
                    <div *ngFor="let item of items;  let i = index">
                        <ion-item lines="full">
                            <ion-avatar slot="start">
                                <img src="{{ cdn_site }}{{ item.venta.base_url }}{{ item.venta.foto_sm }}"
                                    *ngIf="item.venta.foto_sm != null">
                                <img src="assets/img/icon.png" *ngIf="item.venta.foto_sm == null">
                            </ion-avatar>
                            <ion-label style="font-family: roboto_regular;">
                                <ion-text color="dark">
                                    <h6> <span style="color: var(--ion-color-primary) !important">{{ i + 1 }} -</span>
                                        {{item.venta.articulo }}</h6>
                                </ion-text>
                                <p><b>Cantidad:</b> {{ item.venta.cantidad }}</p>
                                <p><b>Total: </b>$ {{ item.venta.precio * item.venta.cantidad | number:'3.0'}} </p>
                                
                                <ion-note class="ion-text-left"  (click)="vercomentario( i )" *ngIf="item.venta.comentarios != 'null' ">
                                    <b style="color: var(--ion-color-primary)" >
                                        Ver Comentarios 
                                        <ion-icon name="chevron-forward" slot="end" style="margin-top: 5px; position: absolute;"></ion-icon>
                                    </b><br>
                                    <p style="white-space: normal; color: var(--ion-color-dark); display: none; font-family: roboto_regular;" id="comentario_{{ i }}">{{ item.venta.comentarios }}</p>
                                </ion-note>
            
                                <ion-button color="primary" fill="solid" size="small" shape="round"
                                    *ngIf="item.menus.cod_articulos == item.venta.cod_articulos && item.menus.cantidad > 0"
                                    (click)="vermenuproducto( item.venta.codigo, item.venta.articulo, i, item.venta.cantidad, item.venta.comentarios )">
                                    Visualizar Menu
                                </ion-button>
                            </ion-label>
                        </ion-item>
                    </div>
                </ion-list>
            
                <!--dejar los cards vacios, please.  -->
                <ion-card></ion-card>
                <ion-card></ion-card>  
                <ion-card></ion-card>  
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
