<ion-content class="ion-no-padding">
    <div>

        <div *ngFor="let dato of datos" style="background-color: white;">
            <ion-card color="transparent" class="ion-no-padding"
                style="position: relative; bottom: 0px; margin-top: 50%; margin-bottom: -10px; border-radius: 30px 30px 0px 0px">
                <ion-grid>
                    <ion-row>
                        <ion-col size="6" class="ion-text-left ion-no-padding">
                            <ion-button size="small" fill="clear"
                                class="chat animate__animated animate__pulse animate__infinite" color="medium"
                                (click)="verChat( dato.codigo, dato.cod_tendero )">
                                <img src="assets/img/vectorpaint_1.svg">
                                <small [hidden]="haveMessages"><b>Chat</b></small>
                                <ion-badge [hidden]="!haveMessages" color="danger">1</ion-badge>

                            </ion-button>
                        </ion-col>
                        <ion-col size="6" class="ion-text-right ion-no-padding">
                            <ion-button size="small" fill="clear" (click)="cerrar()" class="cerrar_modal">
                                <ion-icon name="close-circle-sharp"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div >
                    <ion-card-header class="ion-text-center ion-no-padding">
                        <div>
                            <img src="{{ cdn_site }}{{ dato.base_url }}{{ dato.foto }}" style="width: auto; height: 50px; border-radius: 100%;" *ngIf="dato.base_url != null">
                            <img src="assets/img/icon.png" style="width: auto; height: 50px; border-radius: 100%;" *ngIf="dato.base_url == null">
                        </div>
                        <h6 class="ion-text-capitalize">{{ dato.nombretienda }}</h6>
                        <ion-button fill="clear" color="primary" size="small" (click)="verTienda( dato.cod_tendero )">
                            Ir a la tienda
                        </ion-button><br>
                        <span style="color: var(--ion-color-dark)">
                            <b>
                                Valor a Pagar $ {{ tlSuma  | number: '3.0' }}
                            </b>
                        </span>
                    </ion-card-header>
                </div>

                <ion-card-content class="ion-text-center">
                    <h6 style="color: var(--ion-color-dark)" id="timer">
                        Tiempo aproximado de entrega
                    </h6>
                    <h6 *ngIf="dato.tiempoenvio == 0">
                        Aún sin confirmar
                    </h6>
                    <h6 *ngIf="dato.tiempoenvio > 0 ">
                        <span class="unit">
                            <b>{{ dato.tiempoenvio }}</b>
                        </span>
                        <span class="unit">
                            <b>Mins</b>
                        </span>
                    </h6>
                </ion-card-content>
            </ion-card>
        </div>

        <ion-card class="ion-no-padding" *ngFor="let dato of datos" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 8px;">
            <h6 class="ion-text-center" style="color: #000"> Productos comprados </h6><br>
            <ion-card-content class="ion-no-padding">
                <ion-grid id="otros_detalles" style="color: #000">
                    <ion-row *ngFor="let dato of datos">
                        <ion-col class="ion-padding ion-text-left" size="6">
                            <b>
                                Tipo de pago: <br><br>
                                Valor productos: <br>
                                Envio: <br>
                                App: <br>
                                Propina: <br><br>
                                Valor total:
                            </b>
                        </ion-col>
                        <ion-col class="ion-padding ion-text-right" size="6">
                            <b>
                                <div >
                                    <div >
                                        <em  *ngIf="dato.tipo_pago == 1">
                                            <ion-img src="assets/img/pasarelas/efectivo.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Efectivo
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 2">
                                            <ion-img src="assets/img/pasarelas/data_debito.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Datafono (Debito)
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 3">
                                            <ion-img src="assets/img/pasarelas/data_credito.png"  style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Datafono (Crédito)
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 4">
                                            <ion-img src="assets/img/pasarelas/nequi.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Nequi
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 5">
                                            <ion-img src="assets/img/pasarelas/daviplata.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Daviplata
                                        </em>
                                    </div>
                                </div><br>
                                $ {{ dato.totalfactura | number: '3.0' }}<br>
                                $ {{ dato.envio | number: '3.0' }} <br>
                                <div >
                                    <div >
                                        $ {{ dato.comision | number: '3.0' }}<br>
                                        $ {{ dato.propina | number: '3.0' }} <br><br>
                                        $ {{ tlSuma  | number: '3.0' }}
                                    </div>
                                </div>
                            </b>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <ion-card class="ion-no-padding" *ngFor="let dato of datos" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 8px;">
            <h6 class="ion-text-center" style="color: #000"> Resumen del Pedido </h6><br>
            <ion-card-content class="ion-no-padding">
                <ion-grid id="otros_detalles" style="color: #000">
                    <ion-row *ngFor="let dato of datos">
                        <ion-col class="ion-padding ion-text-left" size="6">
                            <b>
                                Tipo de pago: <br><br>
                                Valor productos: <br>
                                Envio: <br>
                                App: <br>
                                Propina: <br><br>
                                Valor total:
                            </b>
                        </ion-col>
                        <ion-col class="ion-padding ion-text-right" size="6">
                            <b>
                                <div >
                                    <div >
                                        <em  *ngIf="dato.tipo_pago == 1">
                                            <ion-img src="assets/img/pasarelas/efectivo.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Efectivo
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 2">
                                            <ion-img src="assets/img/pasarelas/data_debito.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Datafono (Debito)
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 3">
                                            <ion-img src="assets/img/pasarelas/data_credito.png"  style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Datafono (Crédito)
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 4">
                                            <ion-img src="assets/img/pasarelas/nequi.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Nequi
                                        </em>
                                        <em  *ngIf="dato.tipo_pago == 5">
                                            <ion-img src="assets/img/pasarelas/daviplata.png" style="max-width: 20px; max-height: 20px; display: inline-block"></ion-img> 
                                            Daviplata
                                        </em>
                                    </div>
                                </div><br>
                                $ {{ dato.totalfactura | number: '3.0' }}<br>
                                $ {{ dato.envio | number: '3.0' }} <br>
                                <div >
                                    <div >
                                        $ {{ dato.comision | number: '3.0' }}<br>
                                        $ {{ dato.propina | number: '3.0' }} <br><br>
                                        $ {{ tlSuma  | number: '3.0' }}
                                    </div>
                                </div>
                            </b>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

        <div *ngFor="let dato of datos">
            <div class="ion-text-center">
                <ion-card>
                    <h6 style="color: #000">Progreso del pedido</h6><br><br>
                    <ion-progress-bar value="0.3" color="success" *ngIf="dato.estatus == 0"></ion-progress-bar>
                    <!--0.3-->
                    <ion-progress-bar value="0.5" color="success" *ngIf="dato.estatus == 1"></ion-progress-bar>
                    <!--0.5-->
                    <ion-progress-bar value="0.8" color="success" *ngIf="dato.estatus == 2"></ion-progress-bar>
                    <!--0.3-->
                    <ion-progress-bar value="1" color="success" *ngIf="dato.estatus == 3"></ion-progress-bar>
                    <!--0.3-->
                    <ion-grid>
                        <ion-row>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon1.png"><br>
                                <span style="color:var(--ion-color-primary) !important"
                                    *ngIf="dato.estatus ==  0">Enviado</span>
                                <span *ngIf="dato.estatus !=  0">Enviado</span>
                            </ion-col>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon2.png"><br>
                                <span style="color:var(--ion-color-primary) !important"
                                    *ngIf="dato.estatus ==  1">Alistando</span>
                                <span *ngIf="dato.estatus !=  1">Alistando</span>
                            </ion-col>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon3.png"><br>
                                <span style="color:var(--ion-color-primary) !important" *ngIf="dato.estatus == 2">En
                                    camino</span>
                                <span *ngIf="dato.estatus !=  2">En camino</span>
                            </ion-col>
                            <ion-col size="3" style="margin-top: -30px">
                                <img src="assets/img/orderDetails/icon4.png"><br>
                                <span style="color:var(--ion-color-primary) !important"
                                    *ngIf="dato.estatus == 3">Entregado</span>
                                <span *ngIf="dato.estatus !=  3">Entregado</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </div>
        </div>

    </div>

</ion-content>