<h3>Listado de provedores</h3>

 <div  class="row">
    <div class="col">
        <input #termino type="text" class="form-control" (keyup)="consul(termino.value)"  placeholder="Buscar provedor">
    </div>
 </div>

 <div *ngIf="termino.value" class="mt-5">
<table class="table table-bordered table-striped">
<thead>
    <tr class="filters">
        <th>Marca</th>
        <th>Equipo</th>
        <th>Provedor</th>
        <th>Ubicacion</th>
        <th>Modelo</th>
        <th>Ciudad</th>
        <th>Sede</th>
        <th>Serial</th>
        <th>Placa</th>
        <th>editar</th>
        <th>eliminar</th>
        </tr>
</thead>
<tbody>
    <tr *ngFor="let busqueda of busquedas">
    <td>{{busqueda.nombre_ma}}</td>
    <td>{{busqueda.nombre_equi}}</td>
    <td>{{busqueda.nombre_pro}}</td>
    <td>{{busqueda.nombre_ubi}}</td>
    <td>{{busqueda.modelo_con}}</td>
    <td>{{busqueda.nombre_ciu}}</td>
    <td>{{busqueda.nombre_sede}}</td>
    <td>{{busqueda.serial_con}}</td>
    <td>{{busqueda.placa_con}}</td>
    
    <td><button 
        class="btn btn-primary" 
        routerLink="/editcon/{{busqueda.id_con}}">editar</button></td>
    <td><button 
        class="btn btn-danger"
        (click)="eliminarcon(busqueda.id_con,termino.value)"
        >eliminar</button></td>
    </tr>
</tbody>
</table>
</div>