<h3>Listado Historico Consultas</h3>

 <div  class="row">
    <div class="col">
        <input #termino type="text" class="form-control" (keyup)="consul(termino.value)"  placeholder="Buscar provedor">
    </div>
 </div>

 <div *ngIf="termino.value" class="mt-5">
<table class="table table-bordered table-striped">
<thead>
    <tr class="filters">
        
        <th>Marca</th>
        <th>Equipo</th>
        <th>Provedor</th>
        <th>Ubicacion</th>
        <th>Modelo</th>
        <th>Ciudad</th>
        <th>Sede</th>
        <th>Serial</th>
        <th>Placa</th>
        <th>Requiere Mant</th>
        <th>Estado Consulta</th>
        <th>Fecha Modificacion</th>
        </tr>
</thead>
<tbody>
    <tr *ngFor="let busqueda of busquedas | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
       
    <td>{{busqueda.nombre_ma}}</td>
    <td>{{busqueda.nombre_equi}}</td>
    <td>{{busqueda.nombre_pro}}</td>
    <td>{{busqueda.nombre_ubi}}</td>
    <td>{{busqueda.modelo_con}}</td>
    <td>{{busqueda.nombre_ciu}}</td>
    <td>{{busqueda.nombre_sede}}</td>
    <td>{{busqueda.serial_con}}</td>
    <td>{{busqueda.placa_con}}</td>  
    <td>{{busqueda.mantenimiento_con}}</td>
    <td>{{busqueda.estado_hcon}}</td>
    <td>{{busqueda.fecha_hcon}}</td>  
    </tr>
</tbody>
</table>

<ngb-pagination [collectionSize]="busquedas.length" 
                [(page)]="page"
                ></ngb-pagination>

</div>