.toolbar-header{
    --background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ) !important;

    ion-title {
        color: white;
    }

}

.message-empty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input-send {
    display: flex;
    ion-textarea {
        --padding-top: 15px !important;
    }
    
}



// .message-input {
    // width: 100%;
    // border: 1px solid rgba(219, 40, 72, 1) !important;
    // border-radius: 6px;
    // background: #fff;
    // resize: none;
    // margin-top: 0px;
    // --padding-start: 8px;
// }

.content-message {
    display: flex;
    flex-wrap: nowrap;
}

.end {
    justify-content: flex-end;
}

.start {
    justify-content: flex-start;
}
 
.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
    max-width: 70%;
}

.avatar-checked {
    // max-width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // ion-avatar {
        // width: 100%;
    // }
}
 
.my-message {
    // background: var(--ion-color-tertiary);
    background: linear-gradient(to right, rgba(219, 40, 72, 1), rgba(219, 64, 51, 0.98), rgba(219, 76, 42, 1) ) !important;
    // background: #4A7FF7;
    // background: #f14e1c;
    color: #fff;
    margin-right: .3rem;
    
}

.other-message {
    // background: var(--ion-color-secondary);
    // background-color: #24a0ca;
    background-color: #d5d5d5;
    color: #000;
    margin-left: .3rem;
}
 
.time {
    &.from {
        color: #fff;
    }
    &.to {
        color: #000;
    }
    float: right;
    font-size: small;
}

.view {
    font-size: 20px;
    color: #fff;
}

.caja{
    margin-bottom: 40px;
}
