

<form [formGroup]="formi">
    <div class="form-group row">
        <label class="col-2 col-form-label">Serial</label>
        <div class="col">
           <!-- <select class="form-control"
                    #valor
                    formControlName="seri"
                    [class.is-invalid]="serino"
                    (change)="postmante(valor.value)"
                    >
                <option>Selecione Serial</option>
                <option *ngFor="let item of mante" 
                        [value]="item.serial_con">{{item.serial_con}}</option>
            </select>

            <small *ngIf="serino" class="text text-danger">
                Ingrese Serial valido
            </small>
            -->
            <input class="form-control" 
                   #valores 
                   formControlName="seri"
                   (keyup)="postmante(valores.value)"
                   [(ngModel)]="formi.value.seri"
                   
                   >
           
            <ul class="list-group" *ngIf="lista == true">
                <li 
                    class="list-group-item list-group-item-action"
                    *ngFor="let seri of result"                 
                    (click)="buscar(seri.serial_con)">{{seri.serial_con}}</li>
            </ul>
        </div>
    </div>

</form>



<div *ngIf="vista" >
    <form [formGroup]="forma" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-2 col-form-label">Marca</label>
        <div class="col">
      <select class="form-control"
                    [(ngModel)]="datos.id_ma"
                    formControlName="id_ma"
                    [class.is-invalid]="marcano"
                    >
                   
                <option *ngFor="let mar of marcas" 
                        [value]="mar.id_ma">{{mar.nombre_ma}}</option>
            </select>
            <small *ngIf="marcano" class="text text-danger">
                Ingrese marca valido
            </small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Equipo</label>
        <div class="col">
      <select class="form-control"
                    [(ngModel)]="datos.id_equi"
                    formControlName="id_equi"
                    [class.is-invalid]="equino"
                    >
                   
                <option *ngFor="let eq of equipos"
                        [value]="eq.id_equi">{{eq.nombre_equi}}</option>
            </select>
            <small *ngIf="equino" class="text text-danger">
                Ingrese equipo valido
            </small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Provedores</label>
        <div class="col">
      <select class="form-control"
                    [(ngModel)]="datos.id_pro"
                    formControlName="id_pro"
                    [class.is-invalid]="prono"
                    >
                   
                <option *ngFor="let pro of provedor"
                        [value]="pro.id_pro">{{pro.nombre_pro}}</option>
            </select>
            <small *ngIf="prono" class="text text-danger">
                Ingrese provedor valido
            </small>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Ciudad</label>
        <div class="col">
      <select class="form-control"
                    [(ngModel)]="datos.id_ciu"
                    formControlName="id_ciu"
                    [class.is-invalid]="ciuno"
                    >
                   
                <option *ngFor="let ci of ciudad"
                        [value]="ci.id_ciu">{{ci.nombre_ciu}}</option>
            </select>
            <small *ngIf="ciuno" class="text text-danger">
                Ingrese ciudad valido
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sede</label>
        <div class="col">
      <select class="form-control"
                    [(ngModel)]="datos.id_sede"
                    formControlName="id_sede"
                    [class.is-invalid]="sedeno"
                    >
                   
                <option *ngFor="let se of sede"
                        [value]="se.id_sede">{{se.nombre_sede}}</option>
            </select>
            <small *ngIf="sedeno" class="text text-danger">
                Ingrese sede valido
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Ubicacion</label>
        <div class="col">
      <select class="form-control"
                    [(ngModel)]="datos.id_ubi"
                    formControlName="id_ubi"
                    [class.is-invalid]="ubino"
                    >
                   
                <option *ngFor="let ubi of ubicacion"
                        [value]="ubi.id_ubi">{{ubi.nombre_ubi}}</option>
            </select>
            <small *ngIf="ubino" class="text text-danger">
                Ingrese ubicacion valido
            </small>
        </div>
    </div>




    <div class="form-group row">
        <label class="col-2 col-form-label">Fecha Ini man</label>
        <div class="col">
            <div class="input-group">
                <input class="form-control" 
                       placeholder="yyyy-mm-dd"
                       name="dp"  
                       ngbDatepicker 
                       #d="ngbDatepicker"
                       #fechaini
                       formControlName="fecha_man"
                       [class.is-invalid]="fechamanno"
                                              >
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
              </div>
              <small *ngIf="fechamanno" class="text text-danger">
                Ingrese fecha valida
            </small>
    
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Periodicidad</label>
        <div class="col">
           
            <select class="form-control"
            #valor
            formControlName="peri_man"
            [class.is-invalid]="perino"
            >
           
        <option value="3">trimestral</option>
        <option value="6">semestral</option>
        <option value="12">anual</option>


        </select>
        <small *ngIf="perino" class="text text-danger">
            Ingrese periodicidad valido
        </small>

        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Estado Man</label>
        <div class="col">
           
            <select class="form-control"
            formControlName="esta_man"
            [class.is-invalid]="estano"
            >
           
        <option value="En curso">En curso</option>
        <option value="Finalizado">finalizado</option>
    </select>
    <small *ngIf="estano" class="text text-danger">
        Ingrese estado valido
    </small>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Costo</label>
        <div class="col">
           
            <input type="text" class="form-control" 
                   formControlName="costo_man"
                   [class.is-invalid]="constono"
                   [ngModel]="costo_man | numberPipe" 
                   (ngModelChange)="costo_man=$event"
                  
                 
                  
            >

        <small *ngIf="constono" class="text text-danger">
        Ingrese costo  valido
        </small>
                              
        </div>
    </div>



    <div class="form-group row ">
        <label class="col-2 col-form-label">fecha_proman</label>
        <div class="col">
           
            <input type="text" class="form-control" 
                   [(ngModel)]="forma.value.fecha_pro_man"
                   formControlName="fecha_pro_man"
                   [class.is-invalid]="proxino" 
                              >

            <small *ngIf="proxino" class="text text-danger">
            Ingrese  fecha proxima  valida
            </small>              
    </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="col">
            <button
                   type="submit"
                    class="btn btn-primary">Guardar</button>
                    <button
                     class="btn btn-primary ml-3" 
                     routerLink="/auth/cosman">Regresar</button>
                    
        </div>
    </div>
    
    <div class="form-group row invisible">
        <label class="col-2 col-form-label">id consulta</label>
        <div class="col">
           
            <input type="text" class="form-control" 
                               [(ngModel)]="datos.id_con" 
                               formControlName="id_con" 
                               [class.is-invalid]="idconno">
                               <small *ngIf="idconno" class="text text-danger">
                                Ingrese id  valido
                            </small>
        </div>
    </div>




    </form>
</div>



<div *ngIf="validacion == 404 || validacion ==200">
    <app-snackbar
              [fondo]="'#17747E'"
              [nota]="mensaje"
    ></app-snackbar>

</div>


       