<h1>Editar Provedor</h1>
<div *ngIf="showView">
  <form [formGroup]="proveedorForm"  (ngSubmit)="onSubmit()">

    <input type="text" 
          id="nombre_pro"  
          class="form-control"
          formControlName="nombre_pro"
          [(ngModel)]="proveedor.nombre_pro">
  <br>
          <input type="text" 
          id="direccion_pro"  
          class="form-control"
          formControlName="direccion_pro"
          [(ngModel)]="proveedor.direccion_pro">
          <br>
          <input type="text" 
          id="nit_pro"  
          class="form-control"
          formControlName="nit_pro"
          [(ngModel)]="proveedor.nit_pro">
          <br>
          <button class="btn btn-primary" 
            [disabled]="!proveedorForm.valid"> Editar Provedor
          </button>
  </form>
</div>