<ion-header color="transparent" class="ion-no-border">
    <ion-toolbar>
        <ion-button slot="start" (click)="iraAtras( )" fill="clear" *ngIf="items">
            <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
        </ion-button>
        <ion-title>Canasta</ion-title>
        <ion-button slot="end" (click)="eliminarCarrito()" fill="clear">
            <ion-icon name="trash-outline" color="danger"></ion-icon>
            <small style="position: relative; margin-top: 10px">Vaciar canasta</small>
        </ion-button>
        <ion-button slot="end" (click)="cerrarModal()" fill="clear">
            <ion-icon name="close-circle" color="dark"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content color="transparent">
    <ion-grid fixed>

        <ion-row style="margin-top: 10px;">
            <ion-col size="12">

                <ion-item button *ngFor="let t of tendero" lines="none" class="ion-no-padding"
                    (click)="vertienda( t.codigo )">
                    <ion-grid>
                        <ion-row>
                            <ion-col class="ion-text-center" size="4">
                                <img src="{{ cdn_site }}{{ t.base_url }}{{ t.foto }}" class="img-prod"
                                    *ngIf="t.foto != null" />
                                <img src="assets/img/icon.png" class="img-prod" *ngIf="t.foto == null" />
                            </ion-col>
                            <ion-col class="ion-text-capitalize">
                                <h6>{{ t.nombretienda }}</h6>
                                <small style="color: var(--ion-color-primary); font-size: 0.9em;"><b>Agregar mas
                                        productos</b></small>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>

                <ion-list *ngFor="let item of items; let i = index">
                    <ion-item style="border-top: 1px #ddd solid" class="ion-no-padding-start ion-no-padding-end"
                        lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="3">
                                    <ion-avatar>
                                        <img src="{{ cdn_site }}{{ item.tipo }}{{ item.fotoelemento }}">
                                    </ion-avatar>
                                </ion-col>
                                <ion-col size="6" class="ion-no-padding">
                                    <div class="ion-text-capitalize" style="margin-bottom: 5px; white-space: normal;">
                                        <b style="color: var(--ion-color-primary)">{{ i + 1 }} - </b>
                                        {{item.nombre }}
                                    </div>
                                    <div class="precio" style="color: var(--ion-color-dark)">Cantidad: {{ item.cantidad
                                        }} </div>
                                    <div class="precio">
                                        $ {{ item.precio_unitario * item.cantidad | number:'3.0'}}
                                    </div>

                                    <ion-note class="ion-text-left" color="secondary" *ngIf="item.menu == '' ">Pedido
                                        sin menú</ion-note>
                                    <ion-note class="ion-text-left" color="primary" *ngIf="item.menu != '' "
                                        (click)="verMenu( item )">Visualizar menú</ion-note><br>

                                    <ion-note class="ion-text-left" (click)="vercomentario( i )"
                                        *ngIf="item.comentarios != null ">
                                        <b style="color: var(--ion-color-primary)">
                                            Ver Comentarios
                                            <ion-icon name="chevron-forward" slot="end"
                                                style="margin-top: 5px; position: absolute;"></ion-icon>
                                        </b><br>
                                        <p style="white-space: normal; color: var(--ion-color-dark); display: none;"
                                            id="comentario_{{ i }}">{{ item.comentarios }}</p>
                                    </ion-note>

                                </ion-col>
                                <ion-col size="3" class="ion-no-padding">
                                    <ion-buttons class="cantidad">
                                        <ion-button size="small" fill="solid" color="medium"
                                            (click)="updateMinus( cantidadinput, item )" id="minus" #minus
                                            [disabled]="item.cantidad  == 1">
                                            <ion-icon name="remove-outline" style="font-size: 0.6em;"></ion-icon>
                                        </ion-button>
                                        <ion-input type="number" min="1" color="dark" value="{{ item.cantidad }}"
                                            style="text-align: center; " #cantidadinput name="cantidadinput" disabled>
                                        </ion-input>
                                        <ion-button size="small" fill="solid" color="medium"
                                            (click)="updatePlus( cantidadinput, item )">
                                            <ion-icon name="add-outline" style="font-size: 0.6em;"></ion-icon>
                                        </ion-button>
                                    </ion-buttons>
                                    <ion-button (click)="eliminarCompra(item)" fill="clear" color="danger" mode="md"
                                        size="small" class="eliminar">
                                        <ion-icon name="trash"></ion-icon> Eliminar
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer class="ion-no-border" mode="md" color="transparent">
    <ion-toolbar class="ion-text-center ion-activatable ripple-parent" (click)="irAPedido()">
        <ion-title class="ion-text-center">$ {{ suma | number: '3.0'}}<br>Seguir</ion-title>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-toolbar>
</ion-footer>