<h3>Listado de Equipos</h3>

<div class="d-flex flex-row-reverse mt-3">
    <button class="btn btn-primary" routerLink="/auth/adicionarequi" >Agregar</button>
</div>
<br>

<table class="table table-bordered table-striped">
<thead>
    <tr class="filters">
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
        
</thead>
<tbody>
    <tr *ngFor="let equipo of equipos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <td>{{equipo.nombre_equi}}</td>
    
    <td><button 
        class="btn btn-primary" 
        routerLink="/auth/editarequi/{{equipo.id_equi}}">editar</button></td>
    <td><button 
        class="btn btn-danger"
        (click)="eliminarequi(equipo.id_equi)"
        >eliminar</button></td>
    </tr>
</tbody>

</table>

<ngb-pagination [collectionSize]="equipos.length" 
                [(page)]="page"
                ></ngb-pagination>