<ion-header class="cabecera">
    <ion-toolbar color="transparent" >
        <ion-button fill="clear" size="small" (click)="iraAtras()" slot="start">
            <ion-icon name="arrow-back-outline" color="light"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <ion-grid fixed> 
    <ion-row>
        <ion-col size="12"> 

    <div *ngFor="let infop of detallesproducto" >
        <div class="infoproducto ion-text-center" style="border-bottom: 1px solid var(--ion-color-secondary); ">
         <!--   <ion-card class="card-img"> -->
            <img src="{{ cdn_site }}{{ infop.base_url}}{{infop.foto_sm }}" class="card-img">
         <!-- </ion-card> -->
            <h3 class="ion-text-capitalize ion-text-center ion-padding-start ion-padding-end" style="color: orangered;">{{
                infop.articulo }}</h3>
            <p class="ion-text-justify ion-padding-start ion-padding-end" color="dark"> {{ infop.descripcion }}
                <!-- La presentación del producto es por {{ infop.cantidad_cod_articulos_talla/1.0 }} {{ infop.talla }} -->
                <!-- <span *ngIf="infop.color != 'No aplica' ">viene en color {{ infop.color }}</span> -->
            </p>
            <h5 class="ion-text-justify ion-padding-start ion-padding-end" style="color: orangered;">$ {{ infop.precio | number:'3.0'
                }}</h5>
        </div>

        <ion-card *ngIf="menu != '' " style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3); border-radius: 10px;">
            <ion-card-content class="ion-no-padding">
                <h6 class="ion-padding" color="dark">Selecciona tu menú</h6>

                <ion-list *ngFor="let o of opcionesmenu">
                    <ion-list-header>
                        <h6 class="ion-text-capitalize">{{ o.opcion_producto }}</h6>
                    </ion-list-header>

                    <ion-radio-group>
                        <div *ngFor="let m of menu">
                            <ion-item *ngIf="m.opcion_producto == o.opcion_producto" lines="full" button >
                                <p class="ion-text-capitalize">{{ m.menu }}</p>
                                <ion-radio slot="end" color="primary" mode="md" value="{{ m.codigo }}" id="{{ m.codigo }}" (click)="seleccionarmenudia( m.codigo, m.opcion_producto, m.menu )"></ion-radio>
                            </ion-item> 
                        </div>
                    </ion-radio-group>
                </ion-list>

            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="menutodos != '' " style="box-shadow: 0px 0px 10px rgba(0,0,0,0.3); border-radius: 10px;">
            <ion-card-content class="ion-no-padding">
                <h6 class="ion-padding" color="dark">Menú para todos los días</h6>
                <ion-list *ngFor="let o of opcionesmenusindia">
                    <ion-list-header>
                        <h6 class="ion-text-capitalize">{{ o.opcion_producto }}</h6>
                    </ion-list-header>

                    <ion-radio-group>
                        <div *ngFor="let m of menutodos">
                            <ion-item lines="full" button *ngIf="m.opcion_producto == o.opcion_producto">
                                <p class="ion-text-capitalize">{{ m.menu }}</p>
                                <ion-radio class="radio" slot="end" color="primary" mode="md" value="{{ m.codigo }}" id="{{ m.codigo }}" (click)="seleccionarmenutodosdias( m.codigo, m.opcion_producto, m.menu )"></ion-radio>
                            </ion-item>
                        </div>
                    </ion-radio-group>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="menu == '' && menutodos == '' ">
            <p>Este producto no tiene ningún menú asignado por el momento. Puede seleccionarlo sin ningún inconveniente.
            </p>
        </ion-card>
    </div>

    <ion-item lines="none" button id="comentarios" (click)="mostrarModalComentarios()">
        <ion-label style="white-space: normal;">
            <h6 *ngIf="comentario == null || comentario == '' ">Agrega un comentario</h6>
            <h6 *ngIf="comentario != null && comentario != '' ">¡Has agregado un comentario!</h6>
        </ion-label>
        <ion-button fill="clear" mode="ios" slot="end">
            <ion-icon name="add" color="primary" *ngIf="comentario == null || comentario == '' "></ion-icon>
            <ion-icon name="checkmark-outline" color="success" *ngIf="comentario != null && comentario != '' ">
            </ion-icon>
        </ion-button>
    </ion-item>

        </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>

<ion-footer *ngFor="let infop of detallesproducto" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons fill="clear" size="small" slot="start" style="text-align: center; border-radius: 20px; border: 1px solid var(--ion-color-secondary); margin-right: 5px;">
            <ion-button fill="clear" size="small" color="dark" (click)="contadormenos(  cantidadinput )" *ngIf="cantidadinput.value > 1 && minus">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-button>
            <ion-input color="dark" value="1" min="1" ([ngModel])="cantidadinput" #cantidadinput (ionChange)="cantidad(cantidadinput.value)" style="width: 100%;"></ion-input>
            <ion-button fill="clear" size="small" color="dark" (click)="contadormas(  cantidadinput )">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-button color="primary" fill="solid" expand="full" shape="round" slot="end" mode="ios" style="width: 55%;" (click)="agregarCompra(  infop.articulo, infop.precio,  cantidadinput )">
            Agregar $ {{ precio * cant2 | number: '3.0' }}
        </ion-button>
    </ion-toolbar>
</ion-footer>