<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="inicio()" style="border: none">
                <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
                Regresar al inicio
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
    <ion-grid>   
        <ion-row >
          <ion-col size="12"> 
    <ion-card class="ion-text-center" color="transparent">
        <img src="assets/img/nubevecino.png" width="80%">
    </ion-card>


    <ion-card color="transparent" style="height: 100%; overflow-y:auto;">
        <form #registro (ngSubmit)="onSubmitRegistro()">
            <ion-card-content *ngIf="generales">
                <ion-card-header style="color: #fff">
                    Vecino, ingrese sus datos generales.
                </ion-card-header>
                <ion-input type="text" inputmode="text" placeholder="Nombre" name="nombre" [(ngModel)]="reg.nombre"
                    #nombre></ion-input><br>
                <ion-input type="text" inputmode="text" placeholder="Apellido" name="apellido" id="apellido"
                    [(ngModel)]="reg.apellido" #apellido></ion-input><br>
                <ion-input type="number" inputmode="numeric" placeholder="Teléfono" name="telefono" id="telefono"
                    [(ngModel)]="reg.telefono" #telefono></ion-input><br>
                <ion-button (click)="_ubicacion()" size="small" fill="outline" color="light" shape="round" slot="end" 
                    *ngIf="generales" style="float: right;">
                    Siguiente
                </ion-button>
            </ion-card-content>

            <ion-card-content *ngIf="ubicacion && !ubicacionguardada">
                <ion-card-header  style="color: #fff">
                    Vecino, ingrese la dirección de entrega
                </ion-card-header>
                <ion-input type="text" color="dark" #pais name="pais" value="Colombia" ([ngModel])="pais" disabled>
                </ion-input>
                <br>
                <!-- PAIS Y CIUDAD -->
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="" style="margin-right:5px;">
                            <ion-select multiple="false" placeholder="Departamento" mode="ios"
                                class="ion-no-padding selector" color="light" ([ngModel])="departamento" #departamento
                                (ionChange)="departamentos( departamento )" value="{{ storageDepto }}">
                                <ion-select-option value="">Seleccione</ion-select-option>
                                <ion-select-option value="AMAZONAS">Amazonas</ion-select-option>
                                <ion-select-option value="ANTIOQUIA">Antioquia</ion-select-option>
                                <ion-select-option value="ARAUCA">Arauca</ion-select-option>
                                <ion-select-option value="SAN%20ANDRES">San Andres</ion-select-option>
                                <ion-select-option value="ATLANTICO">Atlántico</ion-select-option>
                                <ion-select-option value="BOGOTA%20D.C.">Bogotá</ion-select-option>
                                <ion-select-option value="BOLIVAR">Bolivar</ion-select-option>
                                <ion-select-option value="BOYACA">Boyacá</ion-select-option>
                                <ion-select-option value="CALDAS">Caldas</ion-select-option>
                                <ion-select-option value="CAQUETA">Caqueta</ion-select-option>
                                <ion-select-option value="CASANARE">Casanare</ion-select-option>
                                <ion-select-option value="CAUCA">Cauca</ion-select-option>
                                <ion-select-option value="CESAR">Cesar</ion-select-option>
                                <ion-select-option value="CHOCO">Chocó</ion-select-option>
                                <ion-select-option value="CORDOBA">Córdova</ion-select-option>
                                <ion-select-option value="CUNDINAMARCA">Cundinamarca</ion-select-option>
                                <ion-select-option value="GUINIA">Guainía</ion-select-option>
                                <ion-select-option value="GUAVIARE">Guaviare</ion-select-option>
                                <ion-select-option value="HUILA">Huila</ion-select-option>
                                <ion-select-option value="LA%20GUAJIRA">La Guajira</ion-select-option>
                                <ion-select-option value="MAGDALENA">Magdalena</ion-select-option>
                                <ion-select-option value="META">Meta</ion-select-option>
                                <ion-select-option value="NARINO">Nariño</ion-select-option>
                                <ion-select-option value="NORTE%20DE%20SANTANDER">Nte. Santander</ion-select-option>
                                <ion-select-option value="PUTUMAYO">Putumayo</ion-select-option>
                                <ion-select-option value="QUINDIO">Quindío</ion-select-option>
                                <ion-select-option value="RISARALDA">Risaralda</ion-select-option>
                                <ion-select-option value="SANTANDER">Santander</ion-select-option>
                                <ion-select-option value="SUCRE">Sucre</ion-select-option>
                                <ion-select-option value="VALLE%20DEL%20CAUCA">Valle del Cauca</ion-select-option>
                                <ion-select-option value="VAUPES">Vaupés</ion-select-option>
                                <ion-select-option value="VICHADA">Vichada</ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col size="" style="margin-right: 2px;">
                            <ion-select multiple="false" placeholder="ciudad" mode="ios" class="ion-no-padding selector"
                                [disabled]="!departamentoActive" color="light" ([ngModel])="ciudad" #ciudad
                                (ionChange)="ciudades( ciudad )">
                                <ion-select-option value="{{ c.ciudad }}" *ngFor="let c of citys">{{ c.ciudad }}
                                </ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col size="" style="margin-right: 2px;">
                            <ion-select placeholder="Tipo" mode="ios" class="ion-no-padding selector" color="light"
                                [disabled]="!ciudadActive" name="tipo" #tipo ([ngModel])="tipo"
                                (ionChange)="tipos( tipo )">
                                <ion-select-option value="avenida Carrera">Av Carrera</ion-select-option>
                                <ion-select-option value="calle">Calle</ion-select-option>
                                <ion-select-option value="carrera">Carrera</ion-select-option>
                                <ion-select-option value="circular">Circular</ion-select-option>
                                <ion-select-option value="circunvalar">Circunvalar</ion-select-option>
                                <ion-select-option value="diagonal">Diagonal</ion-select-option>
                                <ion-select-option value="manzana">Manzana</ion-select-option>
                                <ion-select-option value="transversal">Transversal</ion-select-option>
                                <ion-select-option value="vía">Vía</ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <br>

                <!-- Direccion -->
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="" style="margin-right: 3px;">
                            <ion-input type="text" name="numero" id="numero" #numero ([ngModel])="numero"
                                [disabled]="!tipoActive" (ionChange)="_numero( numero )" class="selector" >
                            </ion-input>
                        </ion-col>
                        <ion-col size="" style="margin-right: 3px;">
                            <ion-input type="text" name="numeros" id="numeros" #numeros class="selector"
                                [disabled]="!n1Active" ([ngModel])="numeros" (ionChange)="_numeros( numeros )">
                                <span slot="start"
                                    style="color:var(--ion-color-primary); padding-left: 5px; padding-right: 5px">#</span>
                            </ion-input>
                        </ion-col>
                        <ion-col size="" style="margin-right: 3px;">
                            <ion-input type="text" name="complemento" id="complemento" class="selector"
                                [disabled]="!n2Active" ([ngModel])="complemento" #complemento
                                (ionChange)="_complemento(complemento)">
                                <span slot="start"
                                    style="color: var(--ion-color-primary); padding-left: 5px; padding-right: 5px">-</span>
                            </ion-input>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <br>

                <!-- BARRIO Y DETALLES -->
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="" style="margin-right: 3px;">
                            <ion-input type="text" inputmode="text" placeholder="Edificio, Torre, Apto" name="mdetalles"
                                [disabled]="!complementoActive" id="mdetalles" [(ngModel)]="reg.mdetalles" #mdetalles class="selector"
                                class="selector"></ion-input>
                        </ion-col>
                        <ion-col size="" style="margin-right: 3px;">
                            <ion-input type="text" name="street" id="street" placeholder="Barrio" ([ngModel])="street"
                                [disabled]="!detallesActive" #street (ionChange)="_streets(street)" class="selector">
                            </ion-input>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <br>
                <ion-button (click)="buscar()" size="small" fill="solid" slot="end" expand="block" fill="outline" color="light"  
                    class="ubicar" *ngIf="!buscado">
                    Aceptar
                </ion-button>
                <!-- LATITUD Y LONGITUD -->
                <div style="display: none;">
                    <ion-input type="text" placeholder="Latitud" name="latitud" id="latitud" [(ngModel)]="reg.latitud"
                    #latitud></ion-input>
                <ion-input type="text" placeholder="Longitud" name="longitud" id="longitud" [(ngModel)]="reg.longitud"
                    #longitud></ion-input>
                </div>
                
                <ion-item color="light" *ngIf="buscado" style="font-family: 'roboto_regular'; text-shadow: none;">
                    <ion-icon slot="end" name="close-outline"
                        (click)="clearForm()"
                        color="danger"></ion-icon>
                    <span style="text-align: center;">
                        Tu dirección es: {{ address }}
                    </span>
                </ion-item>

                <ion-item color="light" *ngIf="nobuscado" style="font-family: 'roboto_regular'; text-shadow: none;">
                    <ion-icon slot="end" name="close-outline"
                        (click)="clearForm()"
                        color="danger"></ion-icon>
                    <small style="text-align: center;">
                       No hemos encontrado su dirección: {{ address }}
                    </small>
                </ion-item>

                <div #map id="map" style="width: 300px; height: 100%;"></div>

                <ion-button (click)="_generales()" size="small" fill="outline" color="light" shape="round"  slot="start">
                    Anterior
                </ion-button>

                <ion-button (click)="_acceso()" size="small" fill="outline" color="light" shape="round"  style="float: right;"
                    *ngIf="buscado">
                    Siguiente
                </ion-button>

            </ion-card-content>

            <ion-card-content *ngIf="ubicacion && ubicacionguardada">
                <ion-card-header  style="color: #fff">
                    Vecino, ya tienes una ubicación guardada en este dispositivo, te encuentras aún ubicado en la siguiente dirección?
                </ion-card-header>
                <ion-card-content style="margin-bottom: 20px;">
                    <ion-item color="transparent" class="ion-no-padding" lines="none">
                        <ion-label style="color: #fff; white-space: normal;" >Dirección: {{ storageDireccion }} <span *ngIf="storageDetalles != '-' ">{{ storageDetalles }}</span></ion-label>
                    </ion-item>
                    <ion-item color="transparent" class="ion-no-padding" lines="none">
                        <ion-label style="color: #fff; white-space: normal;" ><small>Si deseas cambiar la dirección, elimina la actual</small></ion-label>
                        <ion-button (click)="eliminarubicacion()" fill="clear" class="btn-eliminar">
                            <ion-icon name="trash-outline" color="light"></ion-icon>
                        </ion-button>
                    </ion-item>
                    
                </ion-card-content>

                <ion-button (click)="_generales()" size="small" fill="outline" color="light" shape="round"  slot="start">
                    Anterior
                </ion-button>

                <ion-button (click)="_acceso()" size="small" fill="outline" color="light" shape="round"  style="float: right;">
                    Siguiente
                </ion-button>

            </ion-card-content>

            <ion-card-content *ngIf="user?.type != 'Google' && user?.type != 'Facebook' && user?.type != 'Apple' && acceso">
                <ion-card-header  style="font-size: 0.6em !important; color: #fff !important">
                    Vecino, ingrese sus credenciales
                </ion-card-header>
                <ion-item>
                    <ion-input type="email" inputmode="email" placeholder="Correo electrónico" name="email" id="email"
                        [(ngModel)]="reg.email" #email (ionBlur)="conociendoRegistro(email)"></ion-input>
                </ion-item><br>
                <ion-item>
                    <ion-input [type]="passwordType" inputmode="password" clearInput placeholder="Contraseña" mode="ios"
                        name="password" [(ngModel)]="reg.password" #password min="8"></ion-input>
                    <ion-icon name="eye-outline" *ngIf="eye" (click)="togglePasword()"></ion-icon>
                    <ion-icon name="eye-off-outline" *ngIf="!eye" (click)="togglePasword()"></ion-icon>
                </ion-item><br>

                <ion-input type="hidden" name="terminos" id="terminos" value="0"></ion-input><br>
                <ion-item color="transparent "  class="terminos ion-no-padding" (click)="verTerminos( item )"  lines="none"
                    style="margin-top: -30px; " *ngFor="let item of data2">
                    <ion-checkbox slot="start" color="primary" [(ngModel)]="item.selected" checked="false" name="item2"
                        #item2></ion-checkbox>
                    <ion-label style="font-size: 0.6em !important; color: #fff !important">Acepto los <b
                            style="color: #fff">términos y condiciones</b> de VECINO
                    </ion-label>
                </ion-item>

                <!-- <ion-button expand="block" fill="solid" color="primary" type="submit">
                    Registrar
                </ion-button><br> -->

                <ion-button color="light" expand="block" fill="solid" id="registrar" style="border:none"
                    *ngIf="!activo || ocupado" disabled>
                    Registrar
                </ion-button>


                <ion-button color="light" expand="block" fill="solid" id="registrar" style="border:none" type="submit"
                    *ngIf="activo && !ocupado">
                    Registrar
                </ion-button>

                <ion-button (click)="_ubicacion()" size="small" fill="outline" color="light" shape="round" slot="start"
                    *ngIf="acceso">
                    Anterior
                </ion-button>
            </ion-card-content>
            <ion-card-content *ngIf="(user?.type == 'Google' || user?.type == 'Facebook' ||  user?.type == 'Apple') && acceso">
                <ion-card-header  style="font-size: 0.6em !important; color: #fff !important">
                    Vecino, acepte los terminos y condiciones para finalizar
                </ion-card-header>
                <!-- <ion-item>
                    <ion-input type="email" inputmode="email" placeholder="Correo electrónico" name="email" id="email"
                        [(ngModel)]="reg.email" #email (ionBlur)="conociendoRegistro(email)"></ion-input>
                </ion-item><br>
                <ion-item>
                    <ion-input [type]="passwordType" inputmode="password" clearInput placeholder="Contraseña" mode="ios"
                        name="password" [(ngModel)]="reg.password" #password min="8"></ion-input>
                    <ion-icon name="eye-outline" *ngIf="eye" (click)="togglePasword()"></ion-icon>
                    <ion-icon name="eye-off-outline" *ngIf="!eye" (click)="togglePasword()"></ion-icon>
                </ion-item><br> -->

                <ion-input type="hidden" name="terminos" id="terminos" value="0"></ion-input><br>
                <ion-item color="transparent " class="terminos ion-no-padding" (click)="verTerminos( item )" lines="none"
                    style="margin-top: -30px;" *ngFor="let item of data2">
                    <ion-checkbox slot="start" color="primary" [(ngModel)]="item.selected" checked="false" name="item2"
                        #item2></ion-checkbox>
                    <ion-label style="font-size: 0.6em !important; color: #fff !important">Acepto los <b
                            style="color: #fff">términos y condiciones</b> de VECINO
                    </ion-label>
                </ion-item>

                <!-- <ion-button expand="block" fill="solid" color="primary" type="submit">
                    Registrar
                </ion-button><br> -->

                <ion-button color="light" expand="block" fill="solid" id="registrar" style="border:none"
                    *ngIf="!activo || ocupado" disabled>
                    Registrar
                </ion-button>


                <ion-button color="light" expand="block" fill="solid" id="registrar" style="border:none" type="submit"
                    *ngIf="activo && !ocupado">
                    Registrar
                </ion-button>

                <ion-button (click)="_ubicacion()" size="small" fill="outline" color="light" shape="round" slot="start"
                    *ngIf="acceso">
                    Anterior
                </ion-button>
            </ion-card-content>

        </form>

    </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>