<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-button (click)="gateway()"  color="light" slot="start" fill="clear">
            <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon>
            Regresar
        </ion-button>
        <ion-button (click)="cancelar()"  color="light" slot="end" fill="clear">
            <ion-icon slot="start" name="close-outline" color="light"></ion-icon>
            Cancelar
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
    <img src="assets/img/bgclientes.png" class="bgclientes">

    <ion-card color="transparent"  style="margin-top: 95px">
        <ion-card-header>
            <img src="assets/img/nubevecino.png" width="80%">
        </ion-card-header>
        <ion-card-content>
            
            <ion-button  expand="block" fill="solid" color="primary" mode="ios" (click)="registrese()">
                Registrese con Vecino
            </ion-button>
            
            <ion-button expand="block" fill="clear" color="light" mode="ios" disabled style="color:#fff !important">
                ------------- ó -------------
            </ion-button>
            <ion-button *ngIf="platform.is('android') || platform.is('ios')" class="google" mode="ios" expand="block" fill="solid" (click)="loginGoogle()" >
                <ion-icon slot="start" name="logo-google" color="danger"></ion-icon>
                Continuar con Google
            </ion-button>
            <ion-button *ngIf="platform.is('android') || platform.is('ios')" class="facebook" mode="ios" expand="block" fill="solid" (click)="loginFacebook()" >
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                Continuar con Facebook
            </ion-button> 
            <ion-button *ngIf="platform.is('ios')" class="apple" mode="ios" expand="block" fill="solid" (click)="loginFacebook()" >
                <ion-icon slot="start" name="logo-apple" color="dark"></ion-icon>
                Continuar con Apple ID
            </ion-button>  
            <ion-button expand="block" fill="outline" color="light" mode="ios" (click)="login()">
                ¿Ya tienes una cuenta?
            </ion-button>

            <ion-button expand="block" fill="clear" color="light" mode="ios" (click)="restablecer()">
                ¿Olvidaste tu contraseña?
            </ion-button>
            
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer class="ion-no-border ion-text-center">
    <ion-toolbar style="font-family: roboto_light;">
        <small style="font-size: 0.6em; color: #ffff">{{ version }}</small>
    </ion-toolbar>
</ion-footer>