<h3>Listado Ubicación</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="filters">
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
             </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ubicacion of ubicacionn">
        <td>{{ubicacion.nombre_ubi}}</td>
        <td><button 
            class="btn btn-primary" 
            routerLink="/auth/editarubi/{{ubicacion.id_ubi}}">editar</button></td>
        <td><button 
            class="btn btn-danger"
            (click)="eliminarubi(ubicacion.id_ubi)"
            >eliminar</button></td>
        </tr>
    </tbody>
    </table>